<!-- Include from _includes/achivments/index -->
<div class="index">
    {%- assign my_array = site.ffxiv_achievment_kind | split: ',' -%}
    {%- for x in my_array -%}
        {% include helper/handle_version_switchcase.html %}
        {%- assign queryType = x -%}
        {%- assign counterq = 0 -%}
        {%- include achivments/_components/index-counter.html -%}
        {%- if counterq > 0 -%}
           <a id="{{ x }}"></a>
           <div class="index-divider" data-expansion="{{ x }}">
               <h2 class="index-divider__title">{{ x }}</h2>
           </div>
           <div class="index__list_achivments" data-expansion="{{ x }}">
               {%- include achivments/_components/index-list.html -%}
           </div>
        {%- endif -%}
    {%- endfor -%}
</div>
<!-- END Include from _includes/achivments/index -->
