<!-- klassen/_components/Guide-Trait ======================================================= -->
<div class="summary guide__accordion-trigger--{%- if page.sequence -%}02{%- else -%}03{%- endif -%}--trait">
    <i class="Dropdown material-icons"><ion-icon size="large" name="chevron-down-outline" style="color: white !important"></ion-icon></i>
    <h4 class="index-item__title"
        data-terms="!{%- for lang in LANGUAGES -%}trait:{{ trait.title[lang] }}&#32;{%- endfor -%}&#32;
                    {%- for term in trait.terms -%}term:{{ term.term }}&#32;{%- endfor -%}" style="display: none">
    </h4>
    <img class="Icon attack_icon" src="{{ site.imageurl }}/{{ trait.icon }}" alt="{{ trait.icon }}"/>
    <div class="Names">
        <span class="">
            <span data-translate="Class_Trait_Name_{{  trait.title.en }}">{{ trait.title.en }} </span>
        </span>
        {%- if trait.title.en -%}
            <div class="lang-toggle lang-toogle-en-sub guide__accordion-trigger-subtitle">{{ trait.title.en }}</div>
        {%- endif -%}
    </div>
    <div class="IdsHps">
        {%- if trait.title_id -%}
            <div class="guide__accordion-trigger-id" onclick="buildAndCopyRegex('{{ trait.title_id }}', '{{ enemy.title.de }}', 'attack')">ID: {{ trait.title_id }}</div>
        {%- endif -%}
    </div>
    {%- include klassen/_components/guide-attack-types.html -%}
</div>
<div class="guide__accordion-content--{%- if page.sequence -%}02{%- else -%}03{%- endif -%}--trait">
    <div class="guide__accordion-copy-wrapper">
        <!-- Standard Trait -->
        {%- if trait.description -%}
            <div class="guide__attack-notes-wrapper">
                <h5 class="guide__attack-notes-title" data-translate="Class_Trait_Desc_Title">Description:</h5>
                <span class="">
                    <div class="guide__debuff_description" data-translate="Class_Trait_Name_{{  trait.title.en }}">{{  trait.description.en }}</div>
                </span>
            </div>
        {%- endif -%}
        {%- include _components/guide-attack-notes.html -%}
    </div>
</div>
