<!-- Attack Template ======================================================= -->
<div class="guide__accordion-trigger--{%- if page.sequence -%}02{%- else -%}03{%- endif -%}--leve">
    <h4 class="guide__accordion-trigger-title">
        <span class="">
            <span class="lang-toggle lang-toogle-de">{{ leve.title.de }}</span>
            <span class="lang-toggle lang-toogle-en">{{ leve.title.en }}</span>
            <span class="lang-toggle lang-toogle-fr">{{ leve.title.fr }}</span>
            <span class="lang-toggle lang-toogle-ja">{{ leve.title.ja }}</span>
            <span class="lang-toggle lang-toogle-cn">{{ leve.title.cn }}</span>
            <span class="lang-toggle lang-toogle-ko">{{ leve.title.ko }}</span>
        </span>
        {%- if leve.title.en -%}
            <div class="lang-toggle lang-toogle-en-sub guide__accordion-trigger-subtitle"> | {{ leve.title.en }}</div>
        {%- endif -%}
        {%- if leve.title_id -%}
            <div class="guide__accordion-trigger-id" onclick="buildAndCopyRegex('{{ leve.title_id }}', '{{ enemy.title.de }}', 'attack')">ID: {{ leve.title_id }}</div>
        {%- endif -%}
        {%- include klassen/_components/guide-attack-types.html -%}
    </h4>
</div>
