<!-- Attack Template ======================================================= -->
<div class="guide__accordion-trigger--{%- if page.sequence -%}02{%- else -%}03{%- endif -%}--trait">
    <i class="material-icons"><ion-icon size="large" name="chevron-down-outline" style="color: white !important"></ion-icon></i>
    <h4 class="guide__accordion-trigger-title">
        <img class="attack_icon" src="{{ site.imageurl }}/{{ trait.icon }}" alt="{{ trait.icon }}"/>
        <span class="">
            {%- for lang in LANGUAGES -%}
                <span class="lang-toggle lang-toogle-{{lang}}">{{  trait.title[lang] }}</span>
            {%- endfor -%}
        </span>
        {%- if trait.title.en -%}
            <div class="lang-toggle lang-toogle-en-sub guide__accordion-trigger-subtitle"> | {{ trait.title.en }}</div>
        {%- endif -%}
        {%- if trait.title_id -%}
            <div class="guide__accordion-trigger-id" onclick="buildAndCopyRegex('{{ trait.title_id }}', '{{ enemy.title.de }}', 'attack')">ID: {{ trait.title_id }}</div>
        {%- endif -%}
        {%- include klassen/_components/guide-attack-types.html -%}
    </h4>
</div>
<div class="guide__accordion-content--{%- if page.sequence -%}02{%- else -%}03{%- endif -%}--trait">
    <div class="guide__accordion-copy-wrapper">
        <!-- Standard Trait -->
        {%- if trait.description -%}
            <div class="guide__attack-notes-wrapper">
                <h5 class="guide__attack-notes-title">Description:</h5>
                <span class="">
                    {%- for lang in LANGUAGES -%}
                        <div class="guide__debuff_description lang-toggle lang-toogle-{{lang}}">{{  trait.description[lang] }}</div>
                    {%- endfor -%}
                </span>
            </div>
        {%- endif -%}
        {%- include _components/guide-attack-notes.html -%}
    </div>
</div>
