<!-- Attack Template ======================================================= -->
<div class="guide__accordion-trigger--{% if page.sequence %}02{% else %}03{% endif %}--attack">
    <i class="material-icons">expand_more</i>
    <h4 class="guide__accordion-trigger-title">
        <img class="attack_icon" src="https://ffxiv.akurosia.de/extras/images/{{ attack.icon }}" alt="{{ attack.icon }}"/>
        <span class="{% if attack.damage_type == 'Magical' %}attack-is-magic
                     {% elsif attack.damage_type && attack.damage_type != 'None' %}attack-is-physical
                     {% endif %}">{{ attack.title }}</span>
        {% if attack.title_en %}
            <div class="guide__accordion-trigger-subtitle"> | {{ attack.title_en }}</div>
        {% endif %}
        {% if attack.title_id %}
            <div class="guide__accordion-trigger-id" onclick="buildAndCopyRegex('{{ attack.title_id }}', '{{ enemy.title }}', 'attack')">Skill-ID: {{ attack.title_id }}</div>
        {% endif %}
        {% include klassen/_components/guide-attack-types.html %}
    </h4>
</div>
<div class="guide__accordion-content--{% if page.sequence %}02{% else %}03{% endif %}--attack"">
    <div class="guide__accordion-copy-wrapper">
        <!-- Standard Attacks -->
        {% if attack.description %}
            <div class="guide__attack-notes-wrapper">
                <h5 class="guide__attack-notes-title">Description:</h5>
                <span class="guide__debuff_description">{{ attack.description }}</span>
            </div>
        {% endif %}
        {% include _components/guide-attack-notes.html %}
    </div>
</div>
