<!-- Include from _includes/klassen/_component/guide-quests -->
<div class="guide-metadata__menu-link summary guide__accordion-trigger--{%- if page.sequence -%}02{%- else -%}03{%- endif -%}--quest"id="{{ "quest_" | append: quest.title.en | slugify }}">
    <h4 class="index-item__title"
        data-terms="!{%- for lang in LANGUAGES -%}quest:{{ quest.title[lang] }}&#32;{%- endfor -%}&#32;
                    {%- for term in quest.terms -%}term:{{ term.term }}&#32;{%- endfor -%}" style="display: none">
    </h4>
    <div class="Names">
        <span class="">
            <span data-translate="Class_Quest_Name_{{  quest.title.en }}">{{  quest.title.en }} </span>
        </span>
        {%- if quest.title.en -%}
            <div class="lang-toggle lang-toogle-en-sub guide__accordion-trigger-subtitle">{{ quest.title.en }}</div>
        {%- endif -%}
    </div>
    <div class="IdsHps">
        {%- if quest.title_id -%}
            <div class="guide__accordion-trigger-id" onclick="buildAndCopyRegex('{{ quest.title_id }}', '{{ enemy.title.de }}', 'attack')">ID: {{ quest.title_id }}</div>
        {%- endif -%}
    </div>
    {%- include klassen/_components/guide-attack-types.html -%}
</div>
<!-- END Include from _includes/klassen/_component/guide-quests -->
