<!-- Include from _includes/klassen/_component/index-list -->
{%- for guide in sorted reversed -%}
    {%- if page.page_category == "klassenjobs" -%}
        {%- if guide.instanceType == "klassenjobs" or guide.instance_type == "klassenjobs" -%}
            {%- if guide.expac == expac or guide.roletypeinparty == roletype -%}
                {%- assign counter = counter | plus: 1 -%}
                {%- include klassen/summary.html -%}
            {%- endif -%}
        {%- endif -%}
    {%- endif -%}
{%- endfor -%}
<!-- END Include from _includes/klassen/_component/index-list -->
