<!-- Include from _includes/patch_details/_components/index-counter -->
{%- for guide in categories -%}
    {%- if page.page_category == "patch_details" -%}
        {%- if guide.instanceType == "patch_details" or guide.instance_type == "patch_details" -%}
            {%- if guide.expac == expac-%}
                {%- assign counter = counter | plus: 1 -%}
            {%- endif -%}
        {%- endif -%}
    {%- endif -%}
{%- endfor -%}
<!-- END Include from _includes/patch_details/_components/index-counter -->
