<!-- Include from _includes/dalamud/index -->
<div class="index">
    {%- for plugin in site.categories.dalamud -%}
                <span style="color: white">{{plugin}}</span>
        {%- for guide in plugin.plugins -%}
                <span style="color: green">{{guide}}</span>
            {%- if guide.instanceType == queryType -%}
                <span style="color: yellow;">{{guide.name.de}}</span>
            {%- endif -%}
        {%- endfor -%}
    {%- endfor -%}
</div>
<!-- END Include from _includes/dalamud/index -->
