<!-- Include from _includes/dalamud/summary -->
<div class="summary">
    <span class="index-item__link" title="Go to the {{ guide.name.de }} Guide">
        <div class="index-item__background"
            {%- if guide.cover -%}
                style="background-image: url('{{ guide.cover }}')"
            {%- elsif guide.icon -%}
                style="background-image:
                    {%- if guide.icon contains "/assets/" -%}
                        url('{{ guide.icon | prepend: site.baseurl }}')
                    {%- else -%}
                        url('{{ guide.icon | prepend: site.imageurl }}')
                    {%- endif -%}
            {%- endif -%}">
        </div>
        <h3 class="index-item__title"
              data-terms="{%- for term in guide.terms -%}{{ term.term }}&#32;{%- endfor -%} {{guide.name.de}}&#32;{{guide.name.en}}&#32;{{guide.name.fr}}&#32;{{guide.name.ja}}&#32;{{guide.name.cn}}&#32;{{guide.name.ko}}&#32;{{guide.place}}&#32;{{guide.unlocks}}&#32;">

            {%- for lang in LANGUAGES -%}
                <span class="lang-toggle lang-toogle-{{lang}}"> {{ guide.name[lang] }} </span>
            {%- endfor -%}
            <span class="lang-toggle lang-toogle-en-sub"> ~ ({{ guide.name.en }}) </span>
            ~ [{{ guide.id }}]
        </h3>
        <h4 class="index-item__title_en">Level: {{ guide.level }}</h4>
        <h4 class="index-item__title_en">Kategorie: {{ guide.journal }}</h4>
        <h4 class="index-item__title_en">{{ guide.place }} {{ guide.location }}</h4>
        <h4 class="index-item__title_en">NPC: {{ guide.issuer }}</h4>
        <h4 class="index-item__title_en">Unlockable: {{ guide.unlocks }}</h4>
    </span>
</div>
<!-- END Include from _includes/dalamud/summary -->
