/* =============================================================================

    GUIDE MECHANICS CSS

    Authored by:
        - Josh Beveridge

============================================================================= */

.guide__mechanics-wrapper {
    display: block;
    margin: calc($unit * 2) 0;
    max-width: 45rem;
    width: 100%;

    &:last-child {
        margin-bottom: 0;
    }

}

.guide__mechanics-title {
    color: $font-black;
    font-family: $font-aktiv;
    font-size: $font-scale-regular;
    font-weight: 800;
    margin: 0;
}

.guide__mechanics-list {
    margin: $unit 0;
    padding: 0 0 0 calc($unit * 1.2);

    &:last-child {
        margin-bottom: 0;
    }

}

.guide__mechanics-item {
    color: $font-black;
    font-family: $font-pt;
    font-size: $font-scale-regular;
    line-height: 1.5;
    margin: 0;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

}
