<!-- Include from _includes/klassen/guide-enemy -->
<!-- Guide Adds ========================================================== -->
<div class="guide__accordion">
    <div class="guide__accordion-trigger--01-grid active" id="guide{{ x }}">
        <div class="Names">
            <span class="guide__accordion-trigger-title class" data-translate="Content_Title_{{ enemies[0].title }}">{{ enemies[0].title }}</span>
            <span class="lang-toggle lang-toogle-en-sub guide__accordion-trigger-title_en xtitle">{{ enemies[0].title }}</span>
        </div>
    </div>
    <!-- Guide Event Accordion Content -->
    <div class="guide__accordion-content--01 active">
        <!-- Opens the Adds Loop -->
        {%- for enemy in enemies -%}
            {%- include klassen/guide_enemy_sequence.html -%}
        {%- endfor -%}
    </div>
    <div style="display: none" data-extra-translate="/assets/translations/klassen/{{ enemies[0].title | downcase }}"></div>
</div>
<!-- END Include from _includes/klassen/guide-enemy -->
