<!-- Include from _includes/klassen/index -->
<div class="index">

    <div class="sort_by_expac" style="display: none">
        {%- assign my_array = site.ffxiv_expansion_list | split: ',' -%}
        {%- for x in my_array -%}
            {% include helper/handle_version_switchcase.html %}
            {%- assign categories = site.categories.klassenjobs -%}

            {%- assign expac = x -%}
            {%- assign counter = 0 -%}
            {%- include klassen/_components/index-counter.html -%}
            {%- if counter > 0 -%}
                <a id="{{ x_id }}"></a>
                <div onclick='$( ".sort_by_type" ).show();$( ".sort_by_expac" ).hide();' class="index-divider" data-expansion="{{ x }}">
                    {%- include _components/expantion_filter.html -%}
                </div>
                <div class="index__list" data-expansion="{{ x }}">
                    {%- assign sorted = categories | sort:"order" -%}
                    {%- include klassen/_components/index-list.html -%}
                </div>
            {%- endif -%}
        {%- endfor -%}
    </div>

    <div class="sort_by_type">
        {%- assign categories = site.categories.klassenjobs -%}
        {%- assign expac = "" -%}
        {%- for x_cjc in page.cjc -%}
            {%- assign roletype = x_cjc[1] -%}
            {%- assign counter = 0 -%}
            {%- include klassen/_components/index-counter.html -%}
            {%- if counter > 0 -%}
                <a id="{{ roletype }}"></a>
                <div onclick='$( ".sort_by_expac" ).show();$( ".sort_by_type" ).hide();' class="index-divider" data-expansion="{{ roletype }}">
                    {%- if roletype == "Tank" -%}                   {%- assign classicon = "062000/062581_hr1.webp" -%}
                    {%- elsif roletype == "Healer" -%}              {%- assign classicon = "062000/062582_hr1.webp" -%}
                    {%- elsif roletype == "Melee Dps" -%}           {%- assign classicon = "062000/062584_hr1.webp" -%}
                    {%- elsif roletype == "Physical Ranged Dps" -%} {%- assign classicon = "062000/062586_hr1.webp" -%}
                    {%- elsif roletype == "Magical Ranged Dps" -%}  {%- assign classicon = "062000/062587_hr1.webp" -%}
                    {%- elsif roletype == "Chocobo" -%}             {%- assign classicon = "062000/062141_hr1.webp" -%}
                    {%- else -%}                                    {%- assign classicon = "" -%}
                    {%- endif -%}
                    <span class="index-divider__title">
                        {%- if classicon != "" -%}
                            <img loading="lazy" class="role-icon" src="/assets/img/game_assets/{{classicon}}"/>
                        {%- endif -%}
                        <div style="display: inline" data-translate="Sidebar_Role_{{ x_cjc[1] }}">{{ x_cjc[1] }}</div>
                    </span>
                </div>
                <div class="index__list" data-expansion="{{ x }}">
                    {%- assign sorted = categories | sort:"order" -%}
                    {%- include klassen/_components/index-list.html -%}
                </div>
            {%- endif -%}
        {%- endfor -%}
    </div>
    {%- include guide-index-null-state.html -%}
    <div style="display: none" data-extra-translate="/assets/translations/klassen"></div>
</div>
<!-- END Include from _includes/klassen/index -->
