<!-- Include from _includes/links -->
<div class="index">
    <div class="setting_container">
        <table class="table table-bordered table-dark table-striped text-light gcrank_table" id="tInfo">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Icon</th>
                    <th scope="col">Griania Male / Female</th>
                    <th scope="col">Limsa Male / Female</th>
                    <th scope="col">Ul'dah Male / Female</th>
                    <th scope="col">Cap</th>
                    <th scope="col">Unlocked By</th>
            </thead>
            <tbody>
                {%- for gcrank in page.gcrank -%}
                    <tr>
                        <td class="gcrank_table_1">{{gcrank.id}}</td>
                        <td class="gcrank_table_2">
                            <img style="height: 40px;width: 40px;" loading="lazy" src='{{ site.baseurl }}/assets/img/game_assets{{ gcrank.icons.gridania }}'"> /
                            <img style="height: 40px;width: 40px;" loading="lazy" src='{{ site.baseurl }}/assets/img/game_assets{{ gcrank.icons.limsa }}'"> /
                            <img style="height: 40px;width: 40px;" loading="lazy" src='{{ site.baseurl }}/assets/img/game_assets{{ gcrank.icons.uldah }}'">
                        </td>
                        <td class="gcrank_table_3">{{gcrank.name.gridania_male}} / {{gcrank.name.gridania_female}}</td>
                        <td class="gcrank_table_3">{{gcrank.name.limsa_male}} / {{gcrank.name.limsa_female}}</td>
                        <td class="gcrank_table_3">{{gcrank.name.uldah_male}} / {{gcrank.name.uldah_female}}</td>
                        <td class="gcrank_table_4">{{gcrank.cap}}</td>
                        <td class="gcrank_table_5">{{gcrank.unlocked_by}}</td>
                    </tr>
                {%- endfor -%}
            </tbody>
        </table>
    </div>
</div>
<!-- END Include from _includes/links -->
