{%- comment -%} ==================================================================
    // Index
=============================================================== {%- endcomment -%}
<link rel="stylesheet" href="{{ "/assets/css/gear.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ "/assets/css/ffxiv.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}" type="text/css" media="all" />

<div class="index">
  <div class="container col">
      <div id="filterOptions" class="my-4 form-inline">
          <select class="form-control bg-charcoal text-light mx-1" id="classjob" size="1">
              <option value="PLD">Paladin</option>
              <option value="KRG">Krieger</option>
              <option value="DKR">Dunkelritter</option>
              <option value="REV">Revolverklinge</option>

              <option value="WMA">Weißmagier</option>
              <option value="GLT">Gelehrter</option>
              <option value="AST">Astrologe</option>
              <option value="WEI">Weiser</option>

              <option value="MÖN">Mönch</option>
              <option value="DRG">Dragoon</option>
              <option value="NIN">Ninja</option>
              <option value="SAM">Samurai</option>
              <option value="SNT">Schnitter</option>

              <option value="BRD">Barde</option>
              <option value="MCH">Maschinist</option>
              <option value="TÄN">Tänzer</option>

              <option value="BSW">Beschwörer</option>
              <option value="SMA">Schwarzmagier</option>
              <option value="RMA" selected>Rotmagier</option>
              <option value="BMA">Blaumagier</option>

              <option value="ZMR">Zimmerer</option>
              <option value="GRS">Grobschmied</option>
              <option value="PLA">Plattner</option>
              <option value="GLD">Goldschmied</option>
              <option value="GER">Gerber</option>
              <option value="WEB">Weber</option>
              <option value="ALC">Alchemist</option>
              <option value="GRM">Gourmet</option>

              <option value="MIN">Minenarbeiter</option>
              <option value="GÄR">Gärtner</option>
              <option value="FIS">Fischer</option>
          </select>
          <input class="form-control bg-charcoal text-light mx-1" type="number" id="lvl_from" value="" min="1" max = "90" placeholder="">
          <input class="form-control bg-charcoal text-light mx-1" type="number" id="lvl_to" value="" min="1" max = "90" placeholder="">

          <input class="form-control bg-charcoal text-light mx-1" type="number" id="ilvl_from" value="" min="1" max = "605" placeholder="">
          <input class="form-control bg-charcoal text-light mx-1" type="number" id="ilvl_to" value="" min="1" max = "605" placeholder="">

          <label class="checkbox white"><input class="" type="checkbox" id="rarity_0" /></label>
          <label class="checkbox red"><input class=" mx-1" type="checkbox" id="rarity_7" /></label>
          <label class="checkbox green"><input class="" type="checkbox" id="rarity_2" /></label>
          <label class="checkbox blue"><input class=" mx-1" type="checkbox" id="rarity_3" /></label>
          <label class="checkbox purpel"><input class="" type="checkbox" id="rarity_4" /></label>

         <label style="display: flex;" class="checkbox white"><input class=" mx-1" type="checkbox" id="include_hq" checked/><span class="x_box_blah">HQ</span></label>
         <label style="display: flex;" class="checkbox white"><input class="" type="checkbox" id="limit_to_hq" /><span class="x_box_blah">HQ2</span></label>

          <input class="form-control bg-charcoal text-light mx-1" type="button" name="Search" value="Search" onclick="call_api_data()">
      </div>
      <div class="my-4" id="gearlist">
          <div class="my-1" id="weapon_left"></div>
          <div class="my-1" id="weapon_right"></div>
          <div class="my-1" id="kopf"></div>
          <div class="my-1" id="rumpf"></div>
          <div class="my-1" id="hände"></div>
          <div class="my-1" id="beine"></div>
          <div class="my-1" id="füße"></div>
          <div class="my-1" id="ohrring"></div>
          <div class="my-1" id="halskette"></div>
          <div class="my-1" id="armreif"></div>
          <div class="my-1" id="ring_links"></div>
          <div class="my-1" id="ring_rechts"></div>
      </div>
  </div>
  <div style="position: sticky;height: 50px;bottom: 0px;">
      <table class="table-bordered table-dark bg-charcoal text-light" id="table_stats_overview">
      </table>
  </div>
  <script type="text/javascript"> document.getElementById("races_select").onchange() </script>
</div>
<script type="text/javascript" src="{{ "/assets/js/gear.js" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}"></script>
