<!-- Include from _includes/guide-notes -->
<!-- Guide Notes =========================================================== -->
<div class="guide__accordion">
    <div class="guide__accordion-trigger--01-grid" id="guideNotes">
        <i class="Dropdown material-icons"><ion-icon size="large" name="chevron-down-outline" style="color: white !important"></ion-icon></i>
        <span class="Names">
            {% include helper/returnPropperName.html instanceType=page.instanceType %} Notizen
        </span>
    </div>
    <!-- Guide Event Accordion Content -->
    <div class="guide__accordion-content--01">
        <!-- Opens the Notes Loop -->
        {%- for mechanic in page.mechanics -%}
            {%- if mechanic.preset -%}
                {% include presets/{{mechanic.preset}}.html instanceType=page.instanceType %}
            {%- else -%}
                <div class="guide__accordion-copy-wrapper">
                    <!-- Event Title -->
                    {%- if mechanic.title.en -%}
                        {%- if mechanic.title.icon -%}
                            <div style="display: inline;">
                                <img style="width: auto;object-fit: scale-down;" src="{%- if mechanic.title.icon contains "/assets/" -%}
                                        {{ mechanic.title.icon | prepend: site.baseurl }}
                                    {%- else -%}
                                        {{ mechanic.title.icon | prepend: site.imageurl }}
                                    {%- endif -%}
                                    " alt="{{ mechanic.title.icon }}">
                        {%- endif -%}

                        {%- for lang in LANGUAGES -%}
                            <h3 class="guide__accordion-title lang-toggle lang-toogle-{{lang}}">{{ mechanic.title[lang] }}</h3>
                        {%- endfor -%}

                        {%- if mechanic.title.icon -%}
                            </div>
                        {%- endif -%}
                    {%- else -%}
                        <h3 class="guide__accordion-title">{{ mechanic.title }}</h3>
                    {%- endif -%}

                    <!-- Opens the Step Loop -->
                    {%- if mechanic.steps -%}
                        <div class="guide__mechanics-wrapper">
                            {%- for step in mechanic.steps -%}
                                <!-- Mechanics Group Title -->
                                <h4 class="guide__mechanics-title">Schritt {{ step.step }}</h4>
                                <!-- Stance Notes -->
                                <ul class="guide__mechanics-list">
                                    {%- for note in step.notes -%}
                                        {%- if note.note.en -%}
                                            {%- for lang in LANGUAGES -%}
                                                <li class="guide__mechanics-item lang-toggle lang-toogle-{{lang}}">{{ note.note[lang] }}</li>
                                            {%- endfor -%}
                                        {%- else -%}
                                            <li class="guide__mechanics-item">{{ note.note }}</li>
                                        {%- endif -%}
                                    {%- endfor -%}
                                </ul>
                                {%- include _components/guide-images-wrapper.html -%}
                                {%- include _components/guide-videos-wrapper.html -%}
                            {%- endfor -%}
                        </div>
                    {%- endif -%}
                </div>
            {%- endif -%}
        {%- endfor -%}
    </div>
</div>
<!-- END Include from _includes/guide-notes -->
