<!-- Include from _includes/guide_enemy_sequence -->
<!-- Opens the Sequence Loop -->

{%- for phase in enemy.sequence -%}
    {%- if enemy.sequence.size > 1 -%}
        <div class="guide__accordion-trigger--03-grid" id="{{ enemy.id | slugify }}-{{ phase.phase }}">
            <i class="Dropdown material-icons"><ion-icon size="large" name="chevron-down-outline" style="color: white !important"></ion-icon></i>
            <div class="Names">
                {%- if phase.name -%}
                    <h3 class="guide__accordion-trigger-title">{{ phase.phase }}. {{ phase.name }}</h3>
                {%- else -%}
                    <h3 class="guide__accordion-trigger-title">Phase {{ phase.phase }}</h3>
                {%- endif -%}
            </div>
        </div>
        <div class="guide__accordion-content--03">
    {%- endif -%}
        {%- if phase.name or phase.alerts or phase.toolbox or phase.mechanics or phase.attacks or phase.images or phase.videos  -%}
            <div class="guide__accordion-copy-wrapper" id="phase{{ phase.phase }}">
                {%- if enemy.sequence.size == 1 -%}
                    {%- if phase.name -%}
                        <h1 class="guide__accordion-title">{{ phase.name }} - Phase {{ phase.phase }}</h1>
                    {%- else -%}
                        <h1 class="guide__accordion-title">Phase {{ phase.phase }}</h4>
                    {%- endif -%}
                {%- endif -%}

                {%- if phase.alerts -%}
                    {%- include _components/guide-alerts.html -%}
                {%- endif -%}
                {%- if phase.toolbox -%}
                    {%- include _components/guide-toolbox.html -%}
                {%- endif -%}
                {%- if phase.mechanics -%}
                    {%- include _components/guide-mechanics.html -%}
                {%- endif -%}
                {%- if phase.attacks -%}
                    {%- include _components/guide-script.html -%}
                {%- endif -%}
                {%- if phase.images -%}
                    {%- include _components/guide-images-wrapper.html -%}
                {%- endif -%}
                {%- if phase.videos -%}
                    {%- include _components/guide-videos-wrapper.html -%}
                {%- endif -%}
            </div>
        {%- endif -%}
        {%- assign currentPhase = phase.phase -%}
        <!-- Enters the enemy attack loop. -->
        {%- for attack in enemy.attacks -%}
            <!-- Enters the attack's phases. -->
            {%- for attackPhase in attack.phases -%}
                {%- if attackPhase.phase == currentPhase -%}
                    {%- include _components/guide-attack.html -%}
                {%- endif -%}
            {%- endfor -%}
        {%- endfor -%}
        <!-- Enters the enemy debuff loop. -->
        {%- for debuff in enemy.debuffs -%}
            <!-- Enters the debuff's phases. -->
            {%- for debuffPhase in debuff.phases -%}
                {%- if debuffPhase.phase == currentPhase -%}
                    {%- include _components/guide-debuff.html -%}
                {%- endif -%}
            {%- endfor -%}
        {%- endfor -%}
        <!-- Enters the enemy fate loop. -->
        {%- for fate in enemy.fates -%}
            <!-- Enters the fate's phases. -->
            {%- for fatePhase in fate.phases -%}
                {%- if fatePhase.phase == currentPhase -%}
                    {%- include _components/guide-fate.html -%}
                {%- endif -%}
            {%- endfor -%}
        {%- endfor -%}

    {%- if enemy.sequence.size > 1 -%}
        </div>
    {%- endif -%}
{%- endfor -%}
<!-- END Include from _includes/guide_enemy_sequence -->
