<!-- Include from _includes/guide-sidebar -->
<!-- Guide Metadata ======================================================== -->
<div class="guide-metadata">
    {%- if page.hector -%}
        {%- for url in page.hector -%}
            {%- assign naviIndex = {{forloop.index}} -%}
            {%- if page.hector.size == 1 -%}
                <a href="{{ url.url }}" title="Visit the video guide for this duty." target="_blank" rel="noopener noreferrer" class="mtqLinkGuide guide-metadata__video-link" data-translate="Sidebar_HectorsGuide">Hector's Guide</a>
            {%- else -%}
                <a href="{{ url.url }}" title="Visit the video guide for this duty." target="_blank" rel="noopener noreferrer" class="mtqLinkGuide guide-metadata__video-link" data-translate="Sidebar_HectorsGuide2">Hector's Guide {{naviIndex}}</a>
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
    {%- if page.mtqvid -%}
        {%- for url in page.mtqvid -%}
            {%- assign naviIndex = {{forloop.index}} -%}
            {%- if page.mtqvid.size == 1 -%}
                <a href="{{ url.url }}" title="Visit the video guide for this duty." target="_blank" rel="noopener noreferrer" class="mtqLinkGuide guide-metadata__video-link" data-translate="Sidebar_MTQcapturesGuide">MTQcapture's Guide</a>
            {%- else -%}
                <a href="{{ url.url }}" title="Visit the video guide for this duty." target="_blank" rel="noopener noreferrer" class="mtqLinkGuide guide-metadata__video-link" data-translate="Sidebar_MTQcapturesGuide2">MTQcapture's Guide {{naviIndex}}</a>
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
    {%- if page.mrhvid -%}
        {%- for url in page.mrhvid -%}
            {%- assign naviIndex = {{forloop.index}} -%}
            {%- if page.mtqvid.size == 1 -%}
                <a href="{{ url.url }}" title="Visit the video guide for this duty." target="_blank" rel="noopener noreferrer" class="mtqLinkGuide guide-metadata__video-link" data-translate="Sidebar_MrHappysGuide">MrHappy's Guide</a>
            {%- else -%}
                <a href="{{ url.url }}" title="Visit the video guide for this duty." target="_blank" rel="noopener noreferrer" class="mtqLinkGuide guide-metadata__video-link" data-translate="Sidebar_MrHappysGuide2">MrHappy's Guide {{naviIndex}}</a>
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
    <div class="guide-metadata__wrapper">
        <h5 class="guide-metadata__subtitle akuflex box small-1of2 med-full">
            {%- if page.instanceType == "klassenjobs" -%}
                <div data-translate="Sidebar_MaxPlayerLevel">Max-Player Level: </div>
            {%- else -%}
                <div data-translate="Sidebar_PlayerLevel">Player Level: </div>
            {%- endif -%}
            <span class="noblock">{{ page.plvl }}</span>
        </h5>
        {%- if page.plvl_sync > 0 -%}
            <h5 class="guide-metadata__subtitle akuflex box small-1of2 med-full">
                <div data-translate="Sidebar_PlayerLevelSync">Player Level Sync: </div>
                <span class="noblock">{{ page.plvl_sync }}</span>
            </h5>
        {%- endif -%}
        {%- if page.ilvl > 0 -%}
            <h5 class="guide-metadata__subtitle akuflex box small-1of2 med-full">
                {%- if page.instanceType == "klassenjobs" -%}
                    <div data-translate="Sidebar_MaxItemLevel">Max-Item Level: </div>
                {%- else -%}
                    <div data-translate="Sidebar_ItemLevel">Item Level: </div>
                {%- endif -%}
                <span class="noblock">{{ page.ilvl }}</span>
            </h5>
        {%- else -%}
            <h5 class="guide-metadata__subtitle akuflex box small-1of2 med-full">
                <div data-translate="Sidebar_ItemLevel">Item Level: </div>
                <span class="noblock">N/A</span
            ></h5>
        {%- endif -%}
        {%- if page.ilvl_sync > 0 -%}
            <h5 class="guide-metadata__subtitle akuflex box small-1of2 med-full">
                <div data-translate="Sidebar_ItemLevelSync">Item Level Sync: </div>
                <span class="noblock">{{ page.ilvl_sync }}</span>
            </h5>
        {%- endif -%}
        {%- if page.patchNumber -%}
            <h5 class="guide-metadata__subtitle akuflex box small-1of2 med-full">
                <div data-translate="Sidebar_Patch">Patch:</div>
                {%- if page.patchLink -%}
                    <span class="block">
                        <a target="_blank" rel="noopener noreferrer" href="{{ page.patchLink }}" data-translate="Patch_{{ page.patchNumber }} - {{ page.patchName }}">{{ page.patchNumber }} - {{ page.patchName }}</a>
                    </span>
                {%- else -%}
                    <span class="block"  data-translate="Patch_{{ page.patchNumber }} - {{ page.patchName }}">{{ page.patchNumber }} - {{ page.patchName }}</span>
                {%- endif -%}
            </h5>
        {%- endif -%}
        <!-- Only on Classes -->
        {%- if page.roletypeinparty -%}
            <h5 class="guide-metadata__subtitle akuflex box small-1of2 med-full">Type:
                <span class="block" data-translate="Sidebar_Role_{{ page.roletypeinparty }}">{{ page.roletypeinparty }}</span>
            </h5>
        {%- endif -%}
        {%- if page.base_class -%}
            <h5 class="guide-metadata__subtitle akuflex box small-1of2 med-full">
                <div data-translate="Sidebar_BaseClass">Base-Klasse:</div>
                <span class="block" data-translate="Sidebar_BaseClass_{{ page.base_class }}">{{ page.base_class }}</span>
            </h5>
        {%- endif -%}
        {%- if page.roleicon -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">Role-Icon:
                <span class="block group-icon">
                    {%- if page.roleicon -%}
                        <img loading="lazy" title="{{ page.roletypeinparty }}" src="{{ site.baseurl }}/assets/img/game_assets/{{page.roleicon}}"/>
                    {%- endif -%}
                    {%- if page.roleiconextra-%}
                        <img loading="lazy" title="{{page.roleiconextra[0].name}}" src="{{ site.baseurl }}/assets/img/game_assets/{{page.roleiconextra[0].icon}}"/>
                    {%- endif -%}
                </span>
            </h5>
        {%- endif -%}
        {%- if page.classicon or page.jobicon -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">Icon:
                <span class="block group-icon">
                    {%- if page.classicon -%}
                        <img loading="lazy" title="Class" src="{{ site.baseurl }}/assets/img/game_assets/{{page.classicon}}"/>
                    {%- endif -%}
                    {%- if page.jobicon-%}
                        <img loading="lazy" title="Job" src="{{ site.baseurl }}/assets/img/game_assets/{{page.jobicon}}"/>
                    {%- endif -%}

                    {%- if page.jobkristall -%}
                        <img loading="lazy" title="Jobkristall" src="{{ site.baseurl }}/assets/img/game_assets/{{page.jobkristall}}"/>
                    {%- endif -%}
                </span>
            </h5>
        {%- endif -%}
        {%- if page.abbreviations -%}
            <h5 class="guide-metadata__subtitle akuflex box small-1of2 med-full">
                <div data-translate="Sidebar_ClassShort">Klassen-Kürzel:</div>
                <span class="block" data-translate="Sidebar_ClassShort_{{ page.abbreviations }}">{{ page.abbreviations }}</span>
            </h5>
        {%- endif -%}
        {%- if page.lodestone -%}
            <h5 class="guide-metadata__subtitle akuflex box small-1of2 med-full">
                <div data-translate="Sidebar_Lodestone">Lodestone:</div>
                <span class="block">
                    <a target="_blank" rel="noopener noreferrer" href="{{ page.lodestone.en }}" data-href-translate="Sidebar_LodestoneURL_{{page.title.en}}" data-translate="Sidebar_Title_Full_{{page.title.en}}">{{ page.title.en }}</a>
                </span>
            </h5>
        {%- endif -%}
        {%- if page.deepdungeon -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">
                <div data-translate="Sidebar_DeepDungeonIcon">Deep Dungeon Icon:</div>
                <div style="background-image: url('{{ site.baseurl }}/assets/img/deepdungeonclassjob_hr1.tex.png')" class="xsprite-sheet sprite-podt-common sprite-podt-{{page.deepdungeon}}"></div>
            </h5>

        {%- endif -%}
        <!-- END Only on Classes -->
        <!-- Only on Content -->
        {%- if page.contentname -%}
            {%- if page.contentname.de != "0" and page.contentname.de != "" -%}
                <h5 class="guide-metadata__subtitle akuflex box small-1of2 med-full">
                    <div data-translate="Sidebar_ContentName">Contentname: </div>
                    <span data-translate="ContentName_{{page.contentname}}" class="block">{{ page.contentname }}</span>
                {%- endif -%}
            </h5>
        {%- endif -%}
        {%- if page.contentdescription -%}
            {%- if page.contentdescription.de != "0" and page.contentdescription.de != "" -%}
                <h5 class="guide-metadata__subtitle box small-1of2 med-full">
                    <div data-translate="Sidebar_ContentDesc">Contentbeschreibung: </div>
                    <span data-translate="ContentDesc_{{page.title.de}}" class="block">{{ page.contentdescription }}</span>
                </h5>
            {%- endif -%}
        {%- endif -%}
        {%- if page.cfcid -%}
            <h5 class="guide-metadata__subtitle akuflex box small-1of2 med-full">
                <div data-translate="Sidebar_ContentFinderID">ContentFinderID: </div>
                <span class="block">{{ page.cfcid }}</span>
            </h5>
        {%- endif -%}
        {%- if page.pnid -%}
            <h5 class="guide-metadata__subtitle akuflex box small-1of2 med-full">
                <div data-translate="Sidebar_PlaceNameID">PlaceNameID: </div>
                <span class="block">{{ page.pnid }}</span>
            </h5>
        {%- endif -%}
        {%- if page.mapid -%}
            <h5 class="guide-metadata__subtitle akuflex box small-1of2 med-full">
                <div data-translate="Sidebar_MapID">MapID: </div>
                <span class="block">{{ page.mapid }}</span>
            </h5>
        {%- endif -%}
        {%- if page.mappath -%}
            <h5 class="guide-metadata__subtitle akuflex box small-1of2 med-full">
                <div data-translate="Sidebar_MapPath">MapPath: </div>
                <span class="block">{{ page.mappath }}</span>
            </h5>
        {%- endif -%}
        {%- if page.contentzoneids -%}
            <h5 class="guide-metadata__subtitle akuflex box small-1of2 med-full">
                <div data-translate="Sidebar_Contenzoneids">Contenzoneids: </div>
                {%- for zone in page.contentzoneids -%}
                    {%- if page.contentzoneids.size > 1 -%}
                        <span class="block">- {{ zone.id }}</span>
                    {%- else -%}
                        <span class="block">{{ zone.id }}</span>
                    {%- endif -%}
                {%- endfor -%}
            </h5>
        {%- endif -%}
        {%- if page.music -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">
                <div data-translate="Sidebar_ContentMusic">Content Music:</div>
                {%- for music in page.music -%}
                    {%- if music.id -%}
                        <span class="block">
                            <a target="_blank" rel="noopener noreferrer" data-translate="music_{{music.name}}" title="{{music.bgm_path}}" href="https://ffxivcollect.com/orchestrions/{{ music.id }}">{% if page.music.size > 1 %}- {% endif %}{{ music.name }}</a>
                        </span>
                    {%- else -%}
                        <span class="block">
                            <a target="_blank" rel="noopener noreferrer" data-translate="music_{{music.name}}" title="{{music.bgm_path}}">- {{ music.name }}</a>
                        </span>
                    {%- endif -%}
                {%- endfor -%}
            </h5>
        {%- endif -%}
        {%- if page.bgmusic -%}
            <h5 class="guide-metadata__subtitle akuflex box small-1of2 med-full">
                <div data-translate="Sidebar_BGM">BGM: </div>
                <span class="block">{{ page.bgmusic }}</span>
            </h5>
        {%- endif -%}
        {%- if page.group -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">
                <div data-translate="Sidebar_Guppenaufstellung">Guppenaufstellung: </div>
                <span class="block group-icon">
                    {%- if page.group.tank -%}
                        {{ page.group.tank }}x<img loading="lazy" src="{{site.baseurl}}/assets/img/game_assets/062000/062581_hr1.png"/>
                    {%- endif -%}
                    {%- if page.group.healer -%}
                        {{ page.group.healer }}x<img loading="lazy" src="{{site.baseurl}}/assets/img/game_assets/062000/062582_hr1.png"/>
                    {%- endif -%}
                    {%- if page.group.melee -%}
                        {{ page.group.melee }}x<img loading="lazy" src="{{site.baseurl}}/assets/img/game_assets/062000/062584_hr1.png"/>
                    {%- endif -%}
                    {%- if page.group.range -%}
                        {{ page.group.range }}x<img loading="lazy" src="{{site.baseurl}}/assets/img/game_assets/062000/062585_hr1.png"/>
                    {%- endif -%}
                </span>
            </h5>
        {%- endif -%}
        {%- if page.quest -%}
            <h5 class="guide-metadata__subtitle akuflex box small-1of2 med-full">
                <div data-translate="Sidebar_Quest">Quest: </div>
                <span class="block">
                    <a target="_blank" rel="noopener noreferrer" data-translate="QuestName_{{page.quest}}" href="https://{{lang}}.finalfantasyxiv.com/lodestone/playguide/db/quest/?patch=&db_search_category=quest&category2=&min_level=&max_level=&min_craft_lv=&max_craft_lv=&q={{ page.quest[lang] }}">{{ page.quest }}</a>
                </span>
            </h5>
            {%- if page.quest_location -%}
                <h5 class="guide-metadata__subtitle akuflex box small-1of2 med-full">
                    <div data-translate="Sidebar_QuestLocation">Quest Location: </div>
                        <span data-translate="QuestLocation_{{page.quest_location}}" class="block">{{ page.quest_location }}</span>
                </h5>
            {%- endif -%}
            {%- if page.quest_npc -%}
                <h5 class="guide-metadata__subtitle akuflex box small-1of2 med-full">
                    <div data-translate="Sidebar_QuestNPC">Quest NPC: </div>
                    <span data-translate="QuestNPC_{{page.quest_npc}}" class="block">{{ page.quest_npc }}</span>
                </h5>
            {%- endif -%}
        {%- endif -%}
        {%- if page.mount -%}
            <h5 class="guide-metadata__subtitle {% if page.mount.size == 1%}akuflex{% endif %} box small-1of2 med-full">
                <div data-translate="Sidebar_Mounts">Mount(s): </div>
                {%- for mount in page.mount -%}
                    {%- if mount.id -%}
                        <span class="block"><a data-translate="mount_{{mount.name}}" target="_blank" rel="noopener noreferrer" href="https://ffxivcollect.com/mounts/{{ mount.id }}">{% if page.mount.size > 1%}- {% endif %}{{ mount.name }}</a></span>
                    {%- else -%}
                        <span class="block"><a data-translate="mount_{{mount.name}}" target="_blank" rel="noopener noreferrer">{% if page.mount.size > 1%}- {% endif %}{{ mount.name }}</a></span>
                    {%- endif -%}
                {%- endfor -%}
            </h5>
        {%- endif -%}
        {%- if page.minion -%}
            <h5 class="guide-metadata__subtitle {% if page.minion.size == 1%}akuflex{% endif %} box small-1of2 med-full">
                <div data-translate="Sidebar_Minions">Minion(s): </div>
                {%- for minion in page.minion -%}
                    {%- if minion.id -%}
                        <span class="block"><a data-translate="minion_{{minion.name}}" target="_blank" rel="noopener noreferrer" href="https://ffxivcollect.com/minions/{{ minion.id }}">{% if page.minion.size > 1%}- {% endif %}{{ minion.name }}</a></span>
                    {%- else -%}
                        <span class="block"><a data-translate="minion_{{minion.name}}" target="_blank" rel="noopener noreferrer">{% if page.minion.size > 1%}- {% endif %}{{ minion.name }}</a></span>
                    {%- endif -%}
                {%- endfor -%}
            </h5>
        {%- endif -%}
        {%- if page.gearset_loot -%}
            <h5 class="guide-metadata__subtitle {% if page.gearset_loot.size == 1%}akuflex{% endif %} box small-1of2 med-full">
                <div data-translate="Sidebar_Gearsets">Gearset(s): </div>
                {%- for gearset in page.gearset_loot -%}
                    {%- if page.gearset_loot.size > 1 -%}
                        <span class="block">- {{ gearset.gsetname }}</span>
                    {%- else -%}
                        <span class="block">{{ gearset.gsetname }}</span>
                    {%- endif -%}
                {%- endfor -%}
            </h5>
        {%- endif -%}
        {%- if page.tt_card -%}
            <h5 class="guide-metadata__subtitle {% if page.tt_card.size == 1%}akuflex{% endif %} box small-1of2 med-full">
                <div data-translate="Sidebar_TT_Karten">TT_Karte(n): </div>
                {%- for tt_card in page.tt_card -%}
                    {%- if tt_card.id -%}
                        {%- for lang in LANGUAGES -%}
                            <span class="lang-toggle lang-toogle-{{lang}} block"><a target="_blank" rel="noopener noreferrer" href="https://triad.raelys.com/cards/{{ tt_card.id }}">{% if page.tt_card.size > 1%}- {% endif %}{{ tt_card.name[lang] }}</a></span>
                        {%- endfor -%}
                    {%- else -%}
                        {%- for lang in LANGUAGES -%}
                            <span class="lang-toggle lang-toogle-{{lang}} block"><a target="_blank" rel="noopener noreferrer" >{% if page.tt_card.size > 1%}- {% endif %}{{ tt_card.name[lang] }}</a></span>
                        {%- endfor -%}
                    {%- endif -%}
                {%- endfor -%}
            </h5>
        {%- endif -%}
        {%- if page.orchestrion -%}
            <h5 class="guide-metadata__subtitle {% if page.orchestrion.size == 1%}akuflex{% endif %} box small-1of2 med-full">
                <div data-translate="Sidebar_OrchestrionRoll">Orchestrion Roll: </div>
                {%- for orchestrion in page.orchestrion -%}
                    {%- if orchestrion.id -%}
                        <span class="block"><a data-translate="orchestrion_{{orchestrion.name}}" target="_blank" rel="noopener noreferrer" href="https://ffxivcollect.com/orchestrions/{{ orchestrion.id }}">{% if page.orchestrion.size > 1%}- {% endif %}{{ orchestrion.name }}</a></span>
                    {%- else -%}
                        <span class="block"><a data-translate="orchestrion_{{orchestrion.name}}" target="_blank" rel="noopener noreferrer">{% if page.orchestrion.size > 1%}- {% endif %}{{ orchestrion.name }}</a></span>
                    {%- endif -%}
                {%- endfor -%}
            </h5>
        {%- endif -%}
        {%- if page.orchestrion_material -%}
            <h5 class="guide-metadata__subtitle {% if page.orchestrion_material.size == 1%}akuflex{% endif %} box small-1of2 med-full">
                <div data-translate="Sidebar_OrchestrionRollMaterial">Orchestrion Roll Material: </div>
                {%- for orchestrion_material in page.orchestrion_material -%}
                    {%- if page.orchestrion_material.size > 1 -%}
                        <span data-translate="orchestrion__material{{orchestrion_material.name}}" class="block">- {{ orchestrion_material.name }}</span>
                    {%- else -%}
                        <span data-translate="orchestrion__material{{orchestrion_material.name}}" class="block">{{ orchestrion_material.name }}</span>
                    {%- endif -%}
                {%- endfor -%}
            </h5>
        {%- endif -%}
        {%- if page.rouletts -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">
                <div data-origin="contentroulette" data-translate="Sidebar_Rouletts">Duty Roulette: </div>
                {%- if page.rouletts.expert -%}
                    <span class="block" data-translate="Sidebar_Rouletts_Experte">- Expert</span>
                {%- elsif page.rouletts.levelcaproulette -%}
                    <span class="block" data-translate="Sidebar_Rouletts_LevelCap">- Level 90 Dungeons</span>
                {%- elsif page.rouletts.highlevelroulette -%}
                    <span class="block" data-translate="Sidebar_Rouletts_HighLevel">- Level 50/60/70/80 Dungeons</span>
                {%- elsif page.rouletts.leveling -%}
                    <span class="block" data-translate="Sidebar_Rouletts_Leveling">- Leveling</span>
                {%- elsif page.rouletts.trial -%}
                    <span class="block" data-translate="Sidebar_Rouletts_Prüfung">- Trials</span>
                {%- elsif page.rouletts.main -%}
                    <span class="block" data-translate="Sidebar_Rouletts_Hauptszenario">- Main Scenario</span>
                {%- elsif page.rouletts.guildhest -%}
                    <span class="block" data-translate="Sidebar_Rouletts_Gildengeheiß">- Guildhests</span>
                {%- elsif page.rouletts.allianceraid -%}
                    <span class="block" data-translate="Sidebar_Rouletts_AllianzRaid">- Alliance Raids</span>
                {%- elsif page.rouletts.normalraid -%}
                    <span class="block" data-translate="Sidebar_Rouletts_NormalRaid">- Normal Raids</span>
                {%- elsif page.rouletts.mentor -%}
                    <span class="block" data-translate="Sidebar_Rouletts_Mentor">- Mentor</span>
                {%- elsif page.rouletts.frontier -%}
                    <span class="block" data-translate="Sidebar_Rouletts_PvP">- Frontline</span>
                {%- elsif page.rouletts.gewölbesuche -%}
                    <span class="block" data-translate="Sidebar_Rouletts_Gewölbesuche">- V&C Dungeon Finder</span>
                {%- endif -%}
            </h5>
        {%- endif -%}
        {%- if page.links -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">
                <div data-translate="Sidebar_Links">Links: </div>
                {%- if page.links.teamcraftlink -%}
                    <span class="block"><a target="_blank" rel="noopener noreferrer" href="https://ffxivteamcraft.com/db/de/instance/{{ page.links.teamcraftlink }}">Teamcraft</a></span>
                {%- endif -%}
                {%- if page.links.garlandtoolslink -%}
                    <span class="block"><a target="_blank" rel="noopener noreferrer" href="https://garlandtools.org/db/#instance/{{ page.links.garlandtoolslink }}">Garlandtools</a></span>
                {%- endif -%}
                {%- if page.links.gamerescapelink -%}
                    <span class="block"><a target="_blank" rel="noopener noreferrer" href="https://ffxiv.gamerescape.com/wiki/{{ page.links.gamerescapelink }}">Gamerscape</a></span>
                {%- endif -%}
            </h5>
        {%- endif -%}
    </div>
    {%- if page.mechanics || page.bosses.size > 1 || page.adds.size > 1 -%}
        <hr style="border-top: 1px solid #ccc;"/>
        <ul class="guide-metadata__menu">
            <h5 class="guide-metadata__subtitle akuflex" data-translate="Sidebar_InThisGuide">In This Guide:</h5>
            <!--
            {%- if page.mechanics -%}
                <li>
                    <a href="#" data-id="guideNotes" title="Go to the Guide Notes" class="guide-metadata__menu-link">
                         <div data-translate="Sidebar_Notizen">Notes</div>
                    </a>
                </li>
            {%- endif -%}
            -->
            {%- if page.bosses.size > 1 -%}
                <li>
                    <a href="#" data-id="guideBosse" title="Go to the Guide Bosse" class="guide-metadata__menu-link">
                         <div data-translate="Sidebar_Bosse">Bosses</div>
                    </a>
                    <ul class="guide-metadata__submenu">
                        {%- for boss in page.bosses -%}
                            <li>
                                <a href="#" data-id="{{ boss.id }}" data-translate="Bosse_{{ boss.title.en }}_Name" title="Go to {{ boss.title.en }}" class="guide-metadata__menu-link">{{ boss.title.en }}</a>
                            </li>
                        {%- endfor -%}
                    </ul>
                </li>
            {%- endif -%}
            {%- if page.adds.size > 1 -%}
                <li>
                    <a href="#" data-id="guideAdds" title="Go to the Guide Adds" class="guide-metadata__menu-link">
                        <div data-translate="Sidebar_Adds">Adds</div>
                    </a>
                    <ul class="guide-metadata__submenu">
                        {%- for add in page.adds -%}
                            <li>
                                <a href="#" data-id="{{ add.id }}" data-translate="Adds_{{ add.title.en }}_Name" title="Go to {{ add.title.en }}" class="guide-metadata__menu-link">{{ add.title.en }}</a>
                            </li>
                        {%- endfor -%}
                    </ul>
                </li>
            {%- endif -%}
        </ul>
    {%- endif -%}
    <div style="display: none" data-extra-translate="/assets/translations/sidebar"></div>
</div>
<!-- END Include from _includes/guide-sidebar -->
