<!-- Include from _includes/guide-content -->
<!-- Guide Content ========================================================= -->
<div class="guide-content">
    {%- if page.wip == "True" -%}
        <div class="guide__content__wip" id="wip">
            <h2 class="guide__accordion-trigger-title guide__content__wip__title" data-translate="GuideContent_WIP_Title">WORK IN PROGRESS !!!</h2>
        </div>
    {%- endif -%}
    {%- if page.gamerscape_items -%}
        {%- include presets/ItemsPerClass.html -%}
    {%- endif -%}
    {%- if page.mechanics -%}
        {%- include guide-notes.html -%}
    {%- endif -%}
    {%- if page.bosses -%}
        {%- assign enemies = page.bosses -%}
        {%- assign x = "Bosse" -%}
        {%- assign y = "boss" -%}
        {%- include guide_enemy.html -%}
    {%- endif -%}
    {%- if page.adds -%}
        {%- assign enemies = page.adds -%}
        {%- assign x = "Adds" -%}
        {%- assign y = "add" -%}
        {%- include guide_enemy.html -%}
    {%- endif -%}
    {%- if page.fates -%}
        {%- assign enemies = page.fates -%}
        {%- assign x = "FATEs" -%}
        {%- include guide_enemy.html -%}
    {%- endif -%}
    <div style="display: none" data-extra-translate="/assets/translations/content/{{page.categories}}/{{page.instanceType}}/{{page.slug_translate}}"></div>
    {%- include _components/image_overlay.html -%}
</div>
<!-- END Include from _includes/guide-content -->
