<!-- Include from _includes/guide-index-null-state -->
<!-- Guide Index Null State ================================================ -->
<div class="index-null-state">
    <h4 class="index-null-state__title" data-translate="GuideIndexNullState_Title">Sorry, the guide you're looking for doesn't exist yet!</h4>
    <p class="index-null-state__copy">
        <div data-translate="GuideIndexNullState_Next">Check out what's coming next </div>
        <a href="/about" title="Go to the FFXIV Pocket Guide Development Roadmap." target="_blank" data-translate="GuideIndexNullState_LinkText">here.</a>
    </p>
    <p class="index-null-state__copy">
        <div data-translate="GuideIndexNullState_Suggest">Want to suggest a guide? Tweet your ideas to </div>
        <a href="https://twitter.com/intent/tweet?screen_name=FF14PocketGuide" title="Tweet at the Pocket Guide" target="_blank">@FF14PocketGuide</a>!
    </p>
</div>
<!-- END Include from _includes/guide-index-null-state -->
