<!-- Guide Adds ========================================================== -->
<div class="guide__accordion">
    <div class="guide__accordion-trigger--01 active" id="guideAdds">
        <i class="material-icons">expand_more</i>
        <h2 class="guide__accordion-trigger-title">
            {% if page.adds.size > 1 %}
                {% if page.instanceType == "allianzraid" %}Allianzraid Adds{% endif %}
                {% if page.instanceType == "bluemage" %}Bluemage Adds{% endif %}
                {% if page.instanceType == "dungeon" %}Dungeon Adds{% endif %}
                {% if page.instanceType == "feldexkursion" %}Feldexkursion Adds{% endif %}
                {% if page.instanceType == "guildhest" %}Gildengeheiß Adds{% endif %}
                {% if page.instanceType == "potd" %}Deep Dungeon Adds{% endif %}
                {% if page.instanceType == "pvp" %}PvP Adds{% endif %}
                {% if page.instanceType == "raid" %}Raid Adds{% endif %}
                {% if page.instanceType == "treasure" %}Schatzdungeon Adds{% endif %}
                {% if page.instanceType == "trial" %}Prüfung Adds{% endif %}
            {% else %}
                {{ page.adds[0].title }}
            {% endif %}
        </h2>
        {% if page.adds.size == 1 %}
         <h3 class="guide__accordion-trigger-title_en">
             {{ page.adds[0].title_en }}
         </h3>
        {% endif %}
    </div>
    <!-- Guide Event Accordion Content -->
    <div class="guide__accordion-content--01 active">
        <!-- Opens the Adds Loop -->
        {% for add in page.adds %}
            {% if page.adds.size > 1 %}
                <!-- <div class="guide__accordion-trigger--02" id="{{ add.id }}"> -->
                <div class="guide__accordion-trigger--02" id="{{ add.title | slugify }}">
                    <i class="material-icons">expand_more</i>
                    <h3 class="guide__accordion-trigger-title">
                        {{ add.title }}
                    </h3>
                    <h4 class="guide__accordion-trigger-title_en">
                        {{ add.title_en }}
                    </h4>
                </div>
                <div class="guide__accordion-content--02">
            {% endif %}
                <!-- Opens the Sequence Loop -->
                {% for phase in add.sequence %}
                    <div class="guide__accordion-copy-wrapper" id="phase{{ phase.phase }}">
                        <!-- Phase Title -->
                        {% if phase.name %}
                            <h1 class="guide__accordion-title">{{ phase.name }} - Phase {{ phase.phase }}</h4>
                        {% else %}
                            <h1 class="guide__accordion-title">Phase {{ phase.phase }}</h4>
                        {% endif %}
                        <!-- Opens the Alerts Loop -->
                        {% if phase.alerts %}
                            <!-- Event Title -->
                            <h4 class="guide__accordion-title">Alerts</h4>
                            <!-- Include Guide Alerts -->
                            {% include _components/guide-alerts.html %}
                        {% endif %}
                        <!-- Opens the Mechanics Loops -->
                        {% if phase.mechanics %}
                            <!-- Include Guide Mechanics -->
                            {% include _components/guide-mechanics.html %}
                        {% endif %}
                        <!-- Opens the Attack Loop -->
                        {% if phase.attacks %}
                            <!-- Include Guide Skill Script -->
                            {% include _components/guide-script.html %}
                        {% endif %}
                        <!-- Opens the Image Loop -->
                        {% if phase.images %}
                            <!-- Include Guide Image Script -->
                            {% include _components/guide-images-wrapper.html %}
                        {% endif %}
                        <!-- Opens the Video Loop -->
                        {% if phase.videos %}
                            <!-- Include Guide video Script -->
                            {% include _components/guide-videos-wrapper.html %}
                        {% endif %}
                    </div>
                    <!-- Determines the current phase. -->
                    {% assign currentPhase = phase.phase %}
                    <!-- Enters the add attack loop. -->
                    {% for attack in add.attacks %}
                        <!-- Enters the attack's phases. -->
                        {% for attackPhase in attack.phases %}
                            <!-- Checks to see if any of the attack's phases are equal to the current phase. -->
                            {% if attackPhase.phase == currentPhase %}
                                <!-- Include Attack Template -->
                                {% include _components/guide-attack.html %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% if page.adds.size > 1 %}</div>{% endif %}
        {% endfor %}
    </div>
</div>
