<!-- Guide Content ========================================================= -->
<div class="guide-content">
    <!-- Duty Notes ======================================================== -->
    {% if page.mechanics %}
        {% include guide-notes.html %}
    {% endif %}
    <!-- Duty Bosses ======================================================= -->
    {% if page.bosses %}
        {% assign enemies = page.bosses %}
        {% include guide_enemy.html %}
    {% endif %}
    <!-- Duty Adds ======================================================= -->
    {% if page.adds %}
        {% assign enemies = page.adds %}
        {% include guide_enemy.html %}
    {% endif %}
</div>
