<!-- Guide Adds ========================================================== -->
<div class="guide__accordion">
    <div class="guide__accordion-trigger--01 active" id="guideAdds">
        <i class="material-icons">expand_more</i>
        <h2 class="guide__accordion-trigger-title">
            {% if enemies.size > 1 %}
                {% if page.instanceType == "allianzraid" %}Allianzraid Adds{% endif %}
                {% if page.instanceType == "bluemage" %}Bluemage Adds{% endif %}
                {% if page.instanceType == "dungeon" %}Dungeon Adds{% endif %}
                {% if page.instanceType == "feldexkursion" %}Feldexkursion Adds{% endif %}
                {% if page.instanceType == "guildhest" %}Gildengeheiß Adds{% endif %}
                {% if page.instanceType == "potd" %}Deep Dungeon Adds{% endif %}
                {% if page.instanceType == "pvp" %}PvP Adds{% endif %}
                {% if page.instanceType == "raid" %}Raid Adds{% endif %}
                {% if page.instanceType == "treasure" %}Schatzdungeon Adds{% endif %}
                {% if page.instanceType == "trial" %}Prüfung Adds{% endif %}
            {% else %}
                {{ enemies[0].title }}
            {% endif %}
        </h2>
        {% if enemies.size == 1 %}
         <h3 class="guide__accordion-trigger-title_en">
             {{ enemies[0].title_en }}
         </h3>
        {% endif %}
    </div>
    <!-- Guide Event Accordion Content -->
    <div class="guide__accordion-content--01 active">
        <!-- Opens the Adds Loop -->
        {% for enemy in enemies %}
            {% if enemies.size > 1 %}
                <!-- <div class="guide__accordion-trigger--02" id="{{ enemy.id }}"> -->
                <div class="guide__accordion-trigger--02" id="{{ enemy.title | slugify }}">
                    <i class="material-icons">expand_more</i>
                    <h3 class="guide__accordion-trigger-title">
                        {{ enemy.title }}
                    </h3>
                    <h4 class="guide__accordion-trigger-title_en">
                        {{ enemy.title_en }}
                    </h4>
                </div>
                <div class="guide__accordion-content--02">
            {% endif %}
            {% include guide_enemy_sequence.html %}
            {% if enemies.size > 1 %}</div>{% endif %}
        {% endfor %}
    </div>
</div>
