<!-- Guide Metadata ======================================================== -->
<div class="guide-metadata">
    {%- if page.hector -%}
        {%- for url in page.hector -%}
            {%- assign naviIndex = {{forloop.index}} -%}
            {%- if page.hector.size == 1 -%}
                <a href="{{ url.url }}" title="Visit the video guide for this duty." target="_blank" rel="noopener noreferrer" class="mtqLinkGuide guide-metadata__video-link">Hector's Guide</a>
            {%- else -%}
                <a href="{{ url.url }}" title="Visit the video guide for this duty." target="_blank" rel="noopener noreferrer" class="mtqLinkGuide guide-metadata__video-link">Hector's Guide {{naviIndex}}</a>
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
    {%- if page.mtqvid -%}
        {%- for url in page.mtqvid -%}
            {%- assign naviIndex = {{forloop.index}} -%}
            {%- if page.mtqvid.size == 1 -%}
                <a href="{{ url.url }}" title="Visit the video guide for this duty." target="_blank" rel="noopener noreferrer" class="mtqLinkGuide guide-metadata__video-link">MTQcapture's Guide</a>
            {%- else -%}
                <a href="{{ url.url }}" title="Visit the video guide for this duty." target="_blank" rel="noopener noreferrer" class="mtqLinkGuide guide-metadata__video-link">MTQcapture's Guide {{naviIndex}}</a>
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
    {%- if page.mrhvid -%}
        {%- for url in page.mrhvid -%}
            {%- assign naviIndex = {{forloop.index}} -%}
            {%- if page.mtqvid.size == 1 -%}
                <a href="{{ url.url }}" title="Visit the video guide for this duty." target="_blank" rel="noopener noreferrer" class="mtqLinkGuide guide-metadata__video-link">MrHappy's Guide</a>
            {%- else -%}
                <a href="{{ url.url }}" title="Visit the video guide for this duty." target="_blank" rel="noopener noreferrer" class="mtqLinkGuide guide-metadata__video-link">MrHappy's Guide {{naviIndex}}</a>
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
    <div class="guide-metadata__wrapper">
        <h5 class="guide-metadata__subtitle box small-1of2 med-full">Player Level: <span class="noblock">{{ page.plvl }}</span></h5>
        {%- if page.plvl_sync > 0 -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">Player Level Sync: <span class="noblock">{{ page.plvl_sync }}</span></h5>
        {%- endif -%}
        {%- if page.ilvl > 0 -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">Item Level: <span class="noblock">{{ page.ilvl }}</span></h5>
        {%- else -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">Item Level: <span class="noblock">N/A</span></h5>
        {%- endif -%}
        {%- if page.ilvl_sync > 0 -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">Item Level Sync: <span class="noblock">{{ page.ilvl_sync }}</span></h5>
        {%- endif -%}
        {%- if page.roletypeinparty -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">Type:
                {%- for lang in LANGUAGES -%}
                    <span class="lang-toggle lang-toogle-{{lang}} block">{{ page.roletypeinparty[lang] }}</span>
                {%- endfor -%}
            </h5>
        {%- endif -%}

        {%- if page.patchNumber -%}
            {%- if page.patchLink -%}
                <h5 class="guide-metadata__subtitle box small-1of2 med-full">Patch:
                    <span class="block"><a target="_blank" rel="noopener noreferrer" href="{{ page.patchLink }}">{{ page.patchNumber }} - {{ page.patchName }}</a></span>
                </h5>
            {%- else -%}
                <h5 class="guide-metadata__subtitle box small-1of2 med-full">Patch:<span class="block">{{ page.patchNumber }} - {{ page.patchName }}</span></h5>
            {%- endif -%}
        {%- endif -%}
        {%- if page.base_class -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">Base-Klasse:
                {%- for lang in LANGUAGES -%}
                    <span class="lang-toggle lang-toogle-{{lang}} block">{{ page.base_class[lang] }}</span>
                {%- endfor -%}
            </h5>
        {%- endif -%}

        {%- if page.icon -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">Icon:
                <span class="block group-icon">
                    <image src="{{site.imageurl}}/{{page.icon}}"/>
                </span>
            </h5>
        {%- endif -%}

        {%- if page.abbreviations -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">Klassen-Kürzel:
                {%- for lang in LANGUAGES -%}
                    <span class="lang-toggle lang-toogle-{{lang}} block">{{ page.abbreviations[lang] }}</span>
                {%- endfor -%}
            </h5>
        {%- endif -%}
        {%- if page.lodestone -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">Lodestone:
                <span class="block">
                {%- for lang in LANGUAGES -%}
                    <a target="_blank" rel="noopener noreferrer" class="lang-toggle lang-toogle-{{lang}}" href="{{ page.lodestone[lang] }}">{{ page.title[lang] }}</a>
                {%- endfor -%}
                </span>
            </h5>
        {%- endif -%}
        {%- if page.contentname -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">Contentname: 
                {%- for lang in LANGUAGES -%}
                    <span class="lang-toggle lang-toogle-{{lang}} block">{{ page.contentname[lang] }}</span>
                {%- endfor -%}
            </h5>
        {%- endif -%}
        {%- if page.contentdescription -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">Contentbeschreibung:
                {%- for lang in LANGUAGES -%}
                    <span class="lang-toggle lang-toogle-{{lang}} block">{{ page.contentdescription[lang] }}</span>
                {%- endfor -%}
            </h5>
        {%- endif -%}
        {%- if page.cfcid -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">ContentFinderID: <span class="block">{{ page.cfcid }}</span></h5>
        {%- endif -%}
        {%- if page.pnid -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">PlaceNameID: <span class="block">{{ page.pnid }}</span></h5>
        {%- endif -%}
        {%- if page.mapid -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">MapID: <span class="block">{{ page.mapid }}</span></h5>
        {%- endif -%}
        {%- if page.mappath -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">MapPath: <span class="block">{{ page.mappath }}</span></h5>
        {%- endif -%}
        {%- if page.contentzoneids -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">Contenzoneids:
            {%- for zone in page.contentzoneids -%}
                {%- if page.contentzoneids.size > 1 -%}
                    <span class="block">- {{ zone.id }}</span>
                {%- else -%}
                    <span class="block">{{ zone.id }}</span>
                {%- endif -%}
            {%- endfor -%}
        {%- endif -%}
        {%- if page.music -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">Content Music:
                {%- for music in page.music -%}
                    {%- if page.music.size > 1 -%}
                        {%- if music.id -%}
                            {%- for lang in LANGUAGES -%}
                                <span class="lang-toggle lang-toogle-{{lang}} block"><a target="_blank" rel="noopener noreferrer" href="https://ffxivcollect.com/orchestrions/{{ music.id }}">- {{ music.name[lang] }}</a></span>
                            {%- endfor -%}
                        {%- else -%}
                            {%- for lang in LANGUAGES -%}
                                <span class="lang-toggle lang-toogle-{{lang}} block"><a target="_blank" rel="noopener noreferrer" >- {{ music.name[lang] }}</a></span>
                            {%- endfor -%}
                        {%- endif -%}
                    {%- else -%}
                        {%- if music.id -%}
                            {%- for lang in LANGUAGES -%}
                                <span class="lang-toggle lang-toogle-{{lang}} block"><a target="_blank" rel="noopener noreferrer" href="https://ffxivcollect.com/orchestrions/{{ music.id }}">{{ music.name[lang] }}</a></span>
                            {%- endfor -%}
                        {%- else -%}
                            {%- for lang in LANGUAGES -%}
                                <span class="lang-toggle lang-toogle-{{lang}} block"><a target="_blank" rel="noopener noreferrer" >{{ music.name[lang] }}</a></span>
                            {%- endfor -%}
                        {%- endif -%}
                    {%- endif -%}
                {%- endfor -%}
            </h5>
        {%- endif -%}
        {%- if page.group -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">Guppenaufstellung:
                <span class="block group-icon">
                    {%- if page.group.tank -%}
                        {{ page.group.tank }}x<image src="{{site.imageurl}}/062000/062581_hr1.png"/>
                    {%- endif -%}
                    {%- if page.group.healer -%}
                        {{ page.group.healer }}x<image src="{{site.imageurl}}/062000/062582_hr1.png"/>
                    {%- endif -%}
                    {%- if page.group.melee -%}
                        {{ page.group.melee }}x<image src="{{site.imageurl}}/062000/062584_hr1.png"/>
                    {%- endif -%}
                    {%- if page.group.range -%}
                        {{ page.group.range }}x<image src="{{site.imageurl}}/062000/062585_hr1.png"/>
                    {%- endif -%}
                </span>
            </h5>
        {%- endif -%}
        {%- if page.quest -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">Quest:
                <span class="block">
                    {%- for lang in LANGUAGES -%}
                        <a target="_blank" rel="noopener noreferrer" class="lang-toggle lang-toogle-{{lang}}" href="https://{{lang}}.finalfantasyxiv.com/lodestone/playguide/db/quest/?patch=&db_search_category=quest&category2=&min_level=&max_level=&min_craft_lv=&max_craft_lv=&q={{ page.quest[lang] }}">{{ page.quest[lang] }}</a>
                    {%- endfor -%}
                </span>
            </h5>
            {%- if page.quest_location -%}
                <h5 class="guide-metadata__subtitle box small-1of2 med-full">Quest Location:
                    {%- for lang in LANGUAGES -%}
                        <span class="lang-toggle lang-toogle-{{lang}} block">{{ page.quest_location[lang] }}</span>
                    {%- endfor -%}
                </h5>
            {%- endif -%}
            {%- if page.quest_npc -%}
                <h5 class="guide-metadata__subtitle box small-1of2 med-full">Quest NPC:
                    {%- for lang in LANGUAGES -%}
                        <span class="lang-toggle lang-toogle-{{lang}} block">{{ page.quest_npc[lang] }}</span>
                    {%- endfor -%}
                </h5>
            {%- endif -%}
        {%- endif -%}
        {%- if page.partners -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">Partners:
            {%- for partner in page.partners -%}
                <span class="block"><a href="{{ partner.partner-link }}" title="Go view {{ partner.partner-title }}'s Guide" target="_blank" rel="noopener noreferrer">{{ partner.partner-title }}</a></span>
            {%- endfor -%}
            </h5>
        {%- endif -%}
        {%- if page.mount -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">Mount(s):
                {%- for mount in page.mount -%}
                    {%- if page.mount.size > 1 -%}
                        {%- if mount.id -%}
                            {%- for lang in LANGUAGES -%}
                                <span class="lang-toggle lang-toogle-{{lang}} block"><a target="_blank" rel="noopener noreferrer" href="https://ffxivcollect.com/mounts/{{ mount.id }}">- {{ mount.name[lang] }}</a></span>
                            {%- endfor -%}
                        {%- else -%}
                            {%- for lang in LANGUAGES -%}
                                <span class="lang-toggle lang-toogle-{{lang}} block"><a target="_blank" rel="noopener noreferrer">- {{ mount.name[lang] }}</a></span>
                            {%- endfor -%}
                        {%- endif -%}
                    {%- else -%}
                        {%- if mount.id -%}
                            {%- for lang in LANGUAGES -%}
                                <span class="lang-toggle lang-toogle-{{lang}} block"><a target="_blank" rel="noopener noreferrer" href="https://ffxivcollect.com/mounts/{{ mount.id }}">{{ mount.name[lang] }}</a></span>
                            {%- endfor -%}
                        {%- else -%}
                            {%- for lang in LANGUAGES -%}
                                <span class="lang-toggle lang-toogle-{{lang}} block"><a target="_blank" rel="noopener noreferrer">{{ mount.name[lang] }}</a></span>
                            {%- endfor -%}
                        {%- endif -%}
                    {%- endif -%}
                {%- endfor -%}
            </h5>
        {%- endif -%}
        {%- if page.minion -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">Minion(s):
                {%- for minion in page.minion -%}
                    {%- if page.minion.size > 1 -%}
                        {%- if minion.id -%}
                            {%- for lang in LANGUAGES -%}
                                <span class="lang-toggle lang-toogle-{{lang}} block"><a target="_blank" rel="noopener noreferrer" href="https://ffxivcollect.com/minions/{{ minion.id }}">- {{ minion.name[lang] }}</a></span>
                            {%- endfor -%}
                        {%- else -%}
                            {%- for lang in LANGUAGES -%}
                                <span class="lang-toggle lang-toogle-{{lang}} block"><a target="_blank" rel="noopener noreferrer">- {{ minion.name[lang] }}</a></span>
                            {%- endfor -%}
                        {%- endif -%}
                    {%- else -%}
                        {%- if minion.id -%}
                            {%- for lang in LANGUAGES -%}
                                <span class="lang-toggle lang-toogle-{{lang}} block"><a target="_blank" rel="noopener noreferrer" href="https://ffxivcollect.com/minions/{{ minion.id }}">{{ minion.name[lang] }}</a></span>
                            {%- endfor -%}
                        {%- else -%}
                            {%- for lang in LANGUAGES -%}
                                <span class="lang-toggle lang-toogle-{{lang}} block"><a target="_blank" rel="noopener noreferrer">{{ minion.name[lang] }}</a></span>
                            {%- endfor -%}
                        {%- endif -%}
                    {%- endif -%}
                {%- endfor -%}
            </h5>
        {%- endif -%}
        {%- if page.gearset_loot -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">Gearset(s):
                {%- for gearset in page.gearset_loot -%}
                    {%- if page.gearset_loot.size > 1 -%}
                        <span class="block">- {{ gearset.gsetname }}</span>
                    {%- else -%}
                        <span class="block">{{ gearset.gsetname }}</span>
                    {%- endif -%}
                {%- endfor -%}
            </h5>
        {%- endif -%}
        {%- if page.tt_card -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">TT_Karte(n):
                {%- for tt_card in page.tt_card -%}
                    {%- if page.tt_card.size > 1 -%}
                        {%- if tt_card.id -%}
                            {%- for lang in LANGUAGES -%}
                                <span class="lang-toggle lang-toogle-{{lang}} block"><a target="_blank" rel="noopener noreferrer" href="https://triad.raelys.com/cards/{{ tt_card.id }}">- {{ tt_card.name[lang] }}</a></span>
                            {%- endfor -%}
                        {%- else -%}
                            {%- for lang in LANGUAGES -%}
                                <span class="lang-toggle lang-toogle-{{lang}} block"><a target="_blank" rel="noopener noreferrer" >- {{ tt_card.name[lang] }}</a></span>
                            {%- endfor -%}
                        {%- endif -%}
                    {%- else -%}
                        {%- if tt_card.id -%}
                            {%- for lang in LANGUAGES -%}
                                <span class="lang-toggle lang-toogle-{{lang}} block"><a target="_blank" rel="noopener noreferrer" href="https://triad.raelys.com/cards/{{ tt_card.id }}">{{ tt_card.name[lang] }}</a></span>
                            {%- endfor -%}
                        {%- else -%}
                            {%- for lang in LANGUAGES -%}
                                <span class="lang-toggle lang-toogle-{{lang}} block"><a target="_blank" rel="noopener noreferrer">{{ tt_card.name[lang] }}</a></span>
                            {%- endfor -%}
                        {%- endif -%}
                    {%- endif -%}
                {%- endfor -%}
            </h5>
        {%- endif -%}
        {%- if page.orchestrion -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">Orchestrion Roll:
                {%- for orchestrion in page.orchestrion -%}
                    {%- if page.orchestrion.size > 1 -%}
                        {%- if orchestrion.id -%}
                            {%- for lang in LANGUAGES -%}
                                <span class="lang-toggle lang-toogle-{{lang}} block"><a target="_blank" rel="noopener noreferrer" href="https://ffxivcollect.com/orchestrions/{{ orchestrion.id }}">- {{ orchestrion.name[lang] }}</a></span>
                            {%- endfor -%}
                        {%- else -%}
                            {%- for lang in LANGUAGES -%}
                                <span class="lang-toggle lang-toogle-{{lang}} block"><a target="_blank" rel="noopener noreferrer">- {{ orchestrion.name[lang] }}</a></span>
                            {%- endfor -%}
                        {%- endif -%}
                    {%- else -%}
                        {%- if orchestrion.id -%}
                            {%- for lang in LANGUAGES -%}
                                <span class="lang-toggle lang-toogle-{{lang}} block"><a target="_blank" rel="noopener noreferrer" href="https://ffxivcollect.com/orchestrions/{{ orchestrion.id }}">{{ orchestrion.name[lang] }}</a></span>
                            {%- endfor -%}
                        {%- else -%}
                            {%- for lang in LANGUAGES -%}
                                <span class="lang-toggle lang-toogle-{{lang}} block"><a target="_blank" rel="noopener noreferrer">{{ orchestrion.name[lang] }}</a></span>
                            {%- endfor -%}
                        {%- endif -%}
                    {%- endif -%}
                {%- endfor -%}
            </h5>
        {%- endif -%}
        {%- if page.orchestrion_material -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">Orchestrion Roll Material:
                {%- for orchestrion_material in page.orchestrion_material -%}
                    {%- if page.orchestrion_material.size > 1 -%}
                        {%- for lang in LANGUAGES -%}
                            <span class="lang-toggle lang-toogle-{{lang}} block">- {{ orchestrion_material.name[lang] }}</span>
                        {%- endfor -%}
                    {%- else -%}
                        {%- for lang in LANGUAGES -%}
                            <span class="lang-toggle lang-toogle-{{lang}} block">{{ orchestrion_material.name[lang] }}</span>
                        {%- endfor -%}
                    {%- endif -%}
                {%- endfor -%}
            </h5>
        {%- endif -%}
        {%- if page.rouletts -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">Rouletts:
                {%- if page.rouletts.allianceraid -%}
                    <span class="block">- Allianz Raid</span>
                {%- elsif page.rouletts.frontier -%}
                    <span class="block">- PvP</span>
                {%- elsif page.rouletts.expert -%}
                    <span class="block">- Experte</span>
                {%- elsif page.rouletts.guildhest -%}
                    <span class="block">- Gildengeheiß</span>
                {%- elsif page.rouletts.highlevelroulette -%}
                    <span class="block">- High Level</span>
                {%- elsif page.rouletts.levelcaproulette -%}
                    <span class="block">- Level Cap</span>
                {%- elsif page.rouletts.leveling -%}
                    <span class="block">- Leveling</span>
                {%- elsif page.rouletts.main -%}
                    <span class="block">- Hauptszenario</span>
                {%- elsif page.rouletts.mentor -%}
                    <span class="block">- Mentor</span>
                {%- elsif page.rouletts.normalraid -%}
                    <span class="block">- Normal Raid</span>
                {%- elsif page.rouletts.trial -%}
                    <span class="block">- Prüfung</span>
                {%- elsif page.rouletts.gewölbesuche -%}
                    <span class="block">- Gewölbesuche</span>
                {%- endif -%}
            </h5>
        {%- endif -%}
        {%- if page.links -%}
            <h5 class="guide-metadata__subtitle box small-1of2 med-full">Links:
                {%- if page.links.teamcraftlink -%}
                    <span class="block"><a target="_blank" rel="noopener noreferrer" href="https://ffxivteamcraft.com/db/de/instance/{{ page.links.teamcraftlink }}">Teamcraft</a></span>
                {%- endif -%}
                {%- if page.links.garlandtoolslink -%}
                    <span class="block"><a target="_blank" rel="noopener noreferrer" href="https://garlandtools.org/db/#instance/{{ page.links.garlandtoolslink }}">Garlandtools</a></span>
                {%- endif -%}
                {%- if page.links.gamerescapelink -%}
                    <span class="block"><a target="_blank" rel="noopener noreferrer" href="https://ffxiv.gamerescape.com/wiki/{{ page.links.gamerescapelink }}">Gamerscape</a></span>
                {%- endif -%}
            </h5>
        {%- endif -%}
    </div>
    {%- if page.mechanics || page.bosses.size > 1 || page.adds.size > 1 -%}
        <ul class="guide-metadata__menu">
            <h5 class="guide-metadata__subtitle">In This Guide:</h5>
            {%- if page.mechanics -%}
                <li>
                    <a href="#" data-id="guideNotes" title="Go to the Guide Notes" class="guide-metadata__menu-link">
                        {% include helper/returnPropperName.html instanceType=page.instanceType %} Notizen
                    </a>
                </li>
            {%- endif -%}
            {%- if page.bosses.size > 1 -%}
                <li>
                    <a href="#" data-id="guideBosse" title="Go to the Guide Bosse" class="guide-metadata__menu-link">
                        {% include helper/returnPropperName.html instanceType=page.instanceType %} Bosse
                    </a>
                    <ul class="guide-metadata__submenu">
                        {%- for boss in page.bosses -%}
                            <li>
                                {%- for lang in LANGUAGES -%}
                                    <a href="#" data-id="{{ boss.id }}" title="Go to {{ boss.title[lang] }}" class="lang-toggle lang-toogle-{{lang}} guide-metadata__menu-link">{{ boss.title[lang] }}</a>
                                {%- endfor -%}
                            </li>
                        {%- endfor -%}
                    </ul>
                </li>
            {%- endif -%}
            {%- if page.adds.size > 1 -%}
                <li>
                    <a href="#" data-id="guideAdds" title="Go to the Guide Adds" class="guide-metadata__menu-link">
                        {% include helper/returnPropperName.html instanceType=page.instanceType %} Adds
                    </a>
                    <ul class="guide-metadata__submenu">
                        {%- for add in page.adds -%}
                            <li>
                                {%- for lang in LANGUAGES -%}
                                    <a href="#" data-id="{{ add.id }}" title="Go to {{ add.title[lang] }}" class="lang-toggle lang-toogle-{{lang}} guide-metadata__menu-link">{{ add.title[lang] }}</a>
                                {%- endfor -%}
                            </li>
                        {%- endfor -%}
                    </ul>
                </li>
            {%- endif -%}
        </ul>
    {%- endif -%}
</div>
