{% comment %} ==================================================================
    // Header
=============================================================== {% endcomment %}
<header>
    {% comment %}
    <div
        class="site-header__alert">
        <p>The Pocket Guide is on indefinite hiatus (thanks to a pesky case of burn-out). Think you'd like to help add new content? <a href="/#shadowbringers" title="Visit the homepage to learn more about what's next for the Pocket Guide.">Learn more about what's next.</a></p>
        <p>Just a head's up that we're moving to a new URL! Please be patient while we transition.</p>
    </div>
    {% endcomment %}

    <div class="site-header__grid"
        {% if page.page_type == "index" or page.page_category == "about" %}
            style="background-image: url('{{ "/assets/img/5-5.jpg" | prepend: site.baseurl }}')"
        {% elsif page.image[0].urlSmall %}
            style="background-image:
            {% if page.image[0].urlSmall contains "/assets/" %}
                url('{{ page.image[0].urlSmall | prepend: site.baseurl }}')
            {% else %}
                url('{{ page.image[0].urlSmall | prepend: site.imageurl }}')
            {% endif %}"
        {% endif %}>
        <div class="site-header__item-a">
            <h1 class="{% if page.page_type == 'index' or page.page_type == 'guide' %}site-header__title{% else %}site-header__guide-title{% endif %}">
                {% if page.page_category == "all" %}
                    The FFXIV Pocket Guide
                {% elsif page.page_category == "dungeons" %}
                    Dungeon Guides
                {% elsif page.page_category == "trials" %}
                    Prüfung Guides
                {% elsif page.page_category == "raids" %}
                    Raid Guides
                {% elsif page.page_category == "ultimates" %}
                    Ultimate Guides
                {% elsif page.page_category == "allianzraid" %}
                    Allianz Raid Guides
                {% elsif page.page_category == "pvp" %}
                    PVP Guides
                {% elsif page.page_category == "potd" %}
                    Tiefes Gewölbe Guides
                {% elsif page.page_category == "feldexkursion" %}
                    Feldexkursion Guides
                {% elsif page.page_category == "guildhest" %}
                    Gildengeheiße Guides
                {% elsif page.page_category == "treasure" %}
                    Schatzdungeon Guides
                {% elsif page.page_category == "about" %}
                    All About the Guide
                {% else %}
                    {{ page.title }}
                    <span
                        {% if page.difficulty == "Hard" %}
                            class="hard"
                        {% elsif page.difficulty == "Unreal" %}
                            class="unreal"
                        {% elsif page.difficulty == "Extreme" %}
                            class="extreme"
                        {% elsif page.difficulty == "Extrem" %}
                            class="extreme"
                        {% elsif page.difficulty == "Savage" %}
                            class="savage"
                        {% elsif page.difficulty == "Ultimate" %}
                            class="ultimate"
                        {% elsif page.difficulty == "Schwer" %}
                            class="hard"
                        {% elsif page.difficulty == "Traumprüfung" %}
                            class="unreal"
                        {% elsif page.difficulty == "Episch" %}
                            class="savage"
                        {% elsif page.difficulty == "Fatal" %}
                            class="ultimate"
                        {% endif %}
                        >
                        {% if page.difficulty != "Normal" %}
                            ({{ page.difficulty }})
                        {% endif %}
                    </span>
                {% endif %}
            </h1>
            <h2 class="site-header__guide-title_en">
                {{ page.title_en }}
            </h2>
        </div>
        {% if page.page_type == "index" %}
            <ul
                class="site-header__links">
                <li>
                    <a href="https://twitter.com/Akurosia" target="_blank" title="Folge mir auf Twitter um auf dem aktuellsten Stand zu bleiben!">
                        <i class="ionicons ion-social-twitter"></i>
                        Twitter
                    </a>
                </li>
                <li>
                    <a href="https://github.com/FFXIVPocketGuide/FFXIVPocketGuide" target="_blank" title="Pocket Guide Development Repo!">
                        <i class="ionicons ion-social-github"></i>
                        Github
                    </a>
                </li>
                <li>
                    <a href="https://github.com/joshdrink/FFXIVPocketGuide/projects/1?fullscreen=true" target="_blank" title="Find out what's next on the Pocket Guide Development Roadmap!">
                        <i class="ionicons ion-social-github"></i>
                        Roadmap
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/user/MTQcapture" target="_blank" title="MTQcapture's YouTube Channel.">
                        <i class="ionicons ion-social-youtube"></i>
                        MTQcapture
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/user/Xehanort1227" target="_blank" title="Mrhappy1227's YouTube Channel.">
                        <i class="ionicons ion-social-youtube"></i>
                        Mrhappy1227
                    </a>
                </li>
            </ul>
        {% endif %}
        {% if page.page_type == "guide" %}
            <ul
                class="site-header__links">
                <li>
                    <a href="https://twitter.com/intent/tweet?via=Akurosia&url={{ site.url }}{{ page.url | url_encode }}&text=I%20want%20to%20submit%20feedback%20on%20{{ page.title | url_encode }}%2E&related=Akurosia, ffxiv_pocket_guide" target="_blank" title="Sende Feedback für {{ page.title }}.">
                        <i class="ionicons ion-social-twitter"></i>
                        Sende Feedback
                    </a>
                </li>
                <li>
                    {% if page.mtq_vid1 %}
                        <a href="{{ page.mtq_vid1 }}" target="_blank" title="Schau dir den Video Guide von MTQcapture an.">
                            <i class="ionicons ion-social-youtube"></i>
                            MTQcapture Video Guide
                        </a>
                    {% endif %}
                    {% if page.mtq_vid2 %}
                        <a href="{{ page.mtq_vid2 }}" target="_blank" title="Schau dir den 2. Teil des Video Guides von MTQcapture an.">
                            <i class="ionicons ion-social-youtube"></i>
                            MTQcapture Video Guide #2
                        </a>
                    {% endif %}
                    {% if page.mrh_vid1 %}
                        <a href="{{ page.mrh_vid1 }}" target="_blank" title="Schau dir den Video Guide von MrHappy an.">
                            <i class="ionicons ion-social-youtube"></i>
                            MrHappy Video Guide
                        </a>
                    {% endif %}
                    {% if page.mrh_vid2 %}
                        <a href="{{ page.mrh_vid2 }}" target="_blank" title="Schau dir den 2. Teil des Video Guides von MrHappy an.">
                            <i class="ionicons ion-social-youtube"></i>
                            MrHappy Video Guide #2
                        </a>
                    {% endif %}
                </li>
            </ul>
        {% endif %}
    </div>
</header>
