{%- assign submenu_entries = "" | split: "" -%}
{%- if include.category -%}
    {%- assign submenu_entries = site.categories[include.category] -%}
{%- else -%}
    {%- assign legacy_entries = site.posts | where: "instanceType", include.instance_type -%}
    {%- assign current_entries = site.posts | where: "instance_type", include.instance_type_new -%}
    {%- assign submenu_entries = legacy_entries | concat: current_entries | uniq -%}
{%- endif -%}
{%- assign submenu_entries = submenu_entries | sort: "sortid" -%}

{%- assign submenu_open = false -%}
{%- if page.page_category == include.page_category -%}
    {%- assign submenu_open = true -%}
{%- elsif include.category and page.categories contains include.category -%}
    {%- assign submenu_open = true -%}
{%- elsif page.instanceType == include.instance_type or page.instance_type == include.instance_type_new -%}
    {%- assign submenu_open = true -%}
{%- endif -%}

{%- if submenu_entries.size > 0 -%}
<ul id="sidebar-submenu-{{ include.id }}" class="sidebar__content-submenu"{% if submenu_open %} style="display: block;"{% endif %}>
    {%- assign sidebar_expansions = site.ffxiv_expansion_list | split: "," -%}
    {%- for x in sidebar_expansions -%}
        {%- include helper/handle_version_switchcase.html -%}
        {%- assign expansion_entries = "" | split: "" -%}
        {%- if include.category -%}
            {%- assign expansion_entries = submenu_entries | where: "expac", x -%}
        {%- else -%}
            {%- assign expansion_source = site.categories[x] -%}
            {%- assign expansion_legacy_entries = "" | split: "" -%}
            {%- assign expansion_current_entries = "" | split: "" -%}
            {%- if expansion_source -%}
                {%- assign expansion_legacy_entries = expansion_source | where: "instanceType", include.instance_type -%}
                {%- assign expansion_current_entries = expansion_source | where: "instance_type", include.instance_type_new -%}
            {%- endif -%}
            {%- assign expansion_entries = expansion_legacy_entries | concat: expansion_current_entries | uniq -%}
        {%- endif -%}
        {%- assign expansion_entries = expansion_entries | sort: "sortid" -%}

        {%- if expansion_entries.size > 0 -%}
            {%- assign expansion_open = false -%}
            {%- if page.expac == x or page.categories contains x -%}
                {%- assign expansion_open = true -%}
            {%- endif -%}
            <li class="sidebar__expansion-parent">
                <button type="button" class="sidebar__expansion-toggle" aria-expanded="{{ expansion_open }}" aria-controls="sidebar-submenu-{{ include.id }}-{{ x }}">
                    {%- if expacicon != "" -%}
                        <img loading="lazy" src="{{site.imageurl}}/{{expacicon}}" alt="">
                    {%- endif -%}
                    <span>{{ x_title }}</span>
                    <span class="sidebar__toggle-icon" aria-hidden="true">{% if expansion_open %}&#9660;{% else %}&#9654;{% endif %}</span>
                </button>
            </li>
            <ul id="sidebar-submenu-{{ include.id }}-{{ x }}" class="sidebar__expansion-submenu"{% if expansion_open %} style="display: block;"{% endif %}>
                {%- for entry in expansion_entries -%}
                    {%- assign entry_title = entry.title.en | default: entry.title -%}
                    <li class="sidebar__content-item">
                        <a href="{{ entry.url | prepend: site.baseurl }}"{% if page.url == entry.url %} class="active"{% endif %}>
                            {%- if entry.jobicon -%}
                                <img loading="lazy" src="{{site.imageurl}}/{{entry.jobicon}}" alt="">
                            {%- endif -%}
                            <span data-translate="Content_Title_{{ entry_title }}">{{ entry_title }}</span>
                        </a>
                    </li>
                {%- endfor -%}
            </ul>
        {%- endif -%}
    {%- endfor -%}
</ul>
{%- endif -%}
