<!-- Include from _includes/navbar -->
    <!-- Mobile Menu Trigger -->
    <button class="sidebar__trigger">
        <span class="sidebar__trigger-inactive">
            <ion-icon name="chevron-down-outline" style="color: white !important"></ion-icon>
            <div data-translate="Navbar_Mobile_Menu">Menu</div>
        </span>
        <span class="sidebar__trigger-active">
            <ion-icon name="chevron-up-outline" style="color: white !important"></ion-icon>
            <div data-translate="Navbar_Mobile_Close">Close</div>
        </span>
    </button>
    <!-- Mobile Overlay -->
    <div
        class="site-grid__sidebar-overlay">
    </div>
    <!-- Menu -->
    <div
        class="sidebar" loading="lazy"
        style="background-image: url('{{ "/assets/img/guide_index_default.webp" | prepend: site.baseurl }}');">
        <div class="sidebar__wrapper">
            <div class="languages">
                <a loading="lazy" style="background-image: url('{{ "/assets/img/flags.webp" | prepend: site.baseurl }}')" class="flags_img iso_US" onclick="changeLanguageTo('lang-toogle-en', 'en-US')" alt="en"></a>
                <a loading="lazy" style="background-image: url('{{ "/assets/img/flags.webp" | prepend: site.baseurl }}')" class="flags_img iso_DE" onclick="changeLanguageTo('lang-toogle-de', 'de-DE')" alt="de"></a>
                <a loading="lazy" style="background-image: url('{{ "/assets/img/flags.webp" | prepend: site.baseurl }}')" class="flags_img iso_FR" onclick="changeLanguageTo('lang-toogle-fr', 'fr-FR')" alt="fr"></a>
                <a loading="lazy" style="background-image: url('{{ "/assets/img/flags.webp" | prepend: site.baseurl }}')" class="flags_img iso_JP" onclick="changeLanguageTo('lang-toogle-ja', 'ja-JP')" alt="ja"></a>
            </div>
            <h1 class="sidebar__title">
                <a href='{{ "/" | prepend: site.baseurl }}' title="Return to the Pocket Guide Home Page.">
                    <img loading="lazy" alt="FFXIV Icon" src='{{ "/assets/img/icon.svg" | prepend: site.baseurl }}'>
                    <span class="sidebar__home-label">Pocket Guide</span>
                </a>
            </h1>
            {%- assign extratools = "false" -%}
            {%- if "translate,gear,fflogs,checkFileData,settings,itemsets,mainquestsfinder,klassenjobs,relics,airship_submarine,quests,achivments,treasuremap,gcrank,bestiarium,dalamud,links,music" contains page.page_category -%}
                {%- assign extratools = "true" -%}
                {%- elsif page.layout == "klassen" -%}
                    {%- assign extratools = "true" -%}
                {%- elsif page.layout == "treasuremap" -%}
                    {%- assign extratools = "true" -%}
            {%- endif -%}

            {%- assign instancecontent = "false" -%}
            {%- if "all,dungeons,trials,raids,ultimates,allianzraid,chaosallianzraid,gewölbesuche,feldexkursion,bluemage,potd,guildhest,treasure,pvp,training,overworld" contains page.page_category -%}
                {%- assign instancecontent = "true" -%}
            {%- elsif page.layout == "guide_post" -%}
                {%- assign instancecontent = "true" -%}
            {%- endif -%}
            <ul class="sidebar__menu">
                <li>
                    <a target="" {%- if page.page_category == "about" -%}class="active"{%- endif -%}
                        href='{{ "/about.html" | prepend: site.baseurl }}' title="See what's new with the Pocket Guide.">
                        <img loading="lazy" src='{{ "/assets/img/new.webp" | prepend: site.baseurl }}' alt="A new icon." style="width: 1.5rem; vertical-align: middle; margin-bottom: .2rem; margin-right: .5rem;">
                        <span data-translate="Navbar_About">About</span>
                    </a>
                </li>
                <li>
                    <a target="" {%- if page.page_category == "patches" -%}class="active"{%- endif -%}
                        href='{{ "/patches/" | prepend: site.baseurl }}' title="Alle Patches anzeigen">
                        <img loading="lazy" src='{{ site.imageurl}}/{{ "/061000/061757_hr1.webp" }}'">
                        <span data-translate="Navbar_Patches">Patches</span>
                    </a>
                </li>
                <li>
                    <button type="button" class="sidebar__group-toggle" aria-expanded="{{ extratools }}" aria-controls="sidebar-group-extra-tools">
                        <span class="sidebar__toggle-icon" aria-hidden="true">{%- if extratools == "true" -%}&#9660;{%- else -%}&#9654;{%- endif -%}</span>
                        Extra Tools
                    </button>
                </li>
                <ul id="sidebar-group-extra-tools" {% if extratools == "true" -%}style="display: inherit;"{%- endif %}>
                    <li>
                        <a target="" {%- if page.page_category == "translate" -%}class="active"{%- endif -%}
                            href='{{ "/translate/" | prepend: site.baseurl }}' title="See Translations">
                            <img loading="lazy" src='{{ site.uldurl}}/{{ "/uld_data/launchericon_hr1.webp" }}'">
                            <span data-translate="Navbar_Translations">Translations</span>
                        </a>
                    </li>
                    <li>
                        <a target="" {%- if page.page_category == "gear" -%}class="active"{%- endif -%}
                            href='{{ "/gear/" | prepend: site.baseurl }}' title="See Gear">
                            <img loading="lazy" src='{{ site.imageurl}}/{{ "/061000/061828_hr1.webp" }}'">
                            <span data-translate="Navbar_Equipment">Equipment</span>
                        </a>
                    </li>
                    <li>
                        <a target="" {%- if page.page_category=="fflogs" -%}class="active" {%- endif -%}
                            href='{{ "/fflogs/" | prepend: site.baseurl }}' title="See fflogs">
                            <img loading="lazy" src='{{ site.imageurl}}/{{ "/060000/060453_hr1.webp" }}'">
                            <span data-translate=" Navbar_FFLogs">FFLogs</span>
                        </a>
                    </li>
                    <li>
                        <a target="" {%- if page.page_category=="checkFileData" -%}class="active" {%- endif -%}
                            href='{{ "/checkFileData/" | prepend: site.baseurl }}' title="See checkFileData">
                            <img loading="lazy" src='{{ site.imageurl}}/{{ "/000000/000046_hr1.webp" }}'">
                            <span data-translate=" Navbar_checkFileData">checkFileData</span>
                        </a>
                    </li>
                    <li>
                        <a target="" {%- if page.page_category=="settings" -%}class="active" {%- endif -%}
                            href='{{ "/settings/" | prepend: site.baseurl }}' title="See settings">
                            <img loading="lazy" src='{{ site.imageurl}}/{{ "/000000/000029_hr1.webp" }}'">
                            <span data-translate=" Navbar_settings">settings</span>
                        </a>
                    </li>
                    <li>
                        <a target="" {%- if page.page_category=="itemsets" -%}class="active" {%- endif -%}
                            href='{{ "/itemsets/" | prepend: site.baseurl }}' title="See itemsets">
                            <img loading="lazy" src='{{ site.imageurl}}/{{ "/061000/061759_hr1.webp" }}'">
                            <span data-translate=" Navbar_itemsets">itemsets</span>
                        </a>
                    </li>
                    <li>
                        <a target="" {%- if page.page_category=="mainquestsfinder" -%}class="active" {%- endif -%}
                            href='{{ "/mainquestsfinder/" | prepend: site.baseurl }}' title="See mainquestsfinder">
                            <img loading="lazy" src='{{ site.imageurl}}/{{ "/061000/061432_hr1.webp" }}'">
                            <span data-translate=" Navbar_mainquestsfinder">mainquestsfinder</span>
                        </a>
                    </li>
                    <li class="sidebar__content-parent">
                        <a target="" {%- if page.page_category == "klassenjobs" or page.instanceType == "klassenjobs" or page.instance_type == "klassenjobs" -%}class="active"{%- endif -%}
                            href='{{ "/klassenjobs/" | prepend: site.baseurl }}' title="Klassen/Jobs anzeigen">
                            <img loading="lazy" src='{{ site.imageurl}}/{{ "/061000/061835_hr1.webp" }}'">
                            <span data-translate="Navbar_Classes/Jobs">Classes/Jobs</span>
                        </a>
                        <button type="button" class="sidebar__submenu-toggle" aria-expanded="{% if page.page_category == "klassenjobs" or page.instanceType == "klassenjobs" or page.instance_type == "klassenjobs" %}true{% else %}false{% endif %}" aria-controls="sidebar-submenu-klassenjobs" aria-label="Toggle Classes/Jobs">
                            <span class="sidebar__toggle-icon" aria-hidden="true">{% if page.page_category == "klassenjobs" or page.instanceType == "klassenjobs" or page.instance_type == "klassenjobs" %}&#9660;{% else %}&#9654;{% endif %}</span>
                        </button>
                    </li>
                    {% include navbar-content-submenu.html id="klassenjobs" category="klassenjobs" page_category="klassenjobs" instance_type="klassenjobs" instance_type_new="klassenjobs" %}
                    <li>
                        <a target="" {%- if page.page_category == "relics" or page.instanceType == "relics" or page.instance_type == "relics" -%}class="active"{%- endif -%}
                            href='{{ "/relics/" | prepend: site.baseurl }}' title="Relic Weapons anzeigen">
                            <img loading="lazy" src='{{ site.imageurl}}/{{ "/061000/061822_hr1.webp" }}'">
                            <span data-translate="Navbar_Relic Weapons">Relic Weapons</span>
                        </a>
                    </li>
                    <li>
                        <a target="" {%- if page.page_category == "airship_submarine" or page.instanceType == "airship_submarine" or page.instance_type == "airship_submarine" -%}class="active"{%- endif -%}
                            href='{{ "/airship_submarine/" | prepend: site.baseurl }}' title="Company Airship & Submersible anzeigen">
                            <img loading="lazy" src='{{ site.imageurl}}/{{ "/061000/061821_hr1.webp" }}'">
                            <span data-translate="Navbar_Company Airship & Submersible">Company Airship & Submersible</span>
                        </a>
                    </li>
                    <li>
                        <a target="" {%- if page.page_category == "quests" or page.instanceType == "quests" or page.instance_type == "quests" -%}class="active"{%- endif -%}
                            href='{{ "/quests/" | prepend: site.baseurl }}' title="Quests anzeigen">
                            <img loading="lazy" src='{{ site.imageurl}}/{{ "/061000/061723_hr1.webp" }}'">
                            <span data-translate="Navbar_Quests">Quests</span>
                        </a>
                    </li>
                    <li>
                        <a target="" {%- if page.page_category == "achivments" or page.instanceType == "achivments" or page.instance_type == "achivments" -%}class="active"{%- endif -%}
                            href='{{ "/achivments/" | prepend: site.baseurl }}' title="Achivments anzeigen">
                            <img loading="lazy" src='{{ site.imageurl}}/{{ "/061000/061767_hr1.webp" }}'">
                            <span data-translate="Navbar_Achievement">Achievement</span>
                        </a>
                    </li>
                    <li>
                        <a target="" {%- if page.page_category == "treasuremap" or page.instanceType == "treasuremap" or page.instance_type == "treasuremap" -%}class="active"{%- endif -%}
                            href='{{ "/treasuremap/" | prepend: site.baseurl }}' title="GCrank anzeigen">
                            <img loading="lazy" src='{{ site.imageurl}}/{{ "/000000/000115_hr1.webp" }}'">
                            <span data-translate="Navbar_treasuremap">TreasureMaps</span>
                        </a>
                    </li>
                    <li>
                        <a target="" {%- if page.page_category == "gcrank" or page.instanceType == "gcrank" or page.instance_type == "gcrank" -%}class="active"{%- endif -%}
                            href='{{ "/gcrank/" | prepend: site.baseurl }}' title="GCrank anzeigen">
                            <img loading="lazy" src='{{ site.imageurl}}/{{ "/061000/061723_hr1.webp" }}'">
                            <span data-translate="Navbar_GCrank">GCrank</span>
                        </a>
                    </li>
                    <li>
                        <a target="" {%- if page.page_category == "bestiarium" or page.instanceType == "bestiarium" or page.instance_type == "bestiarium" -%}class="active"{%- endif -%}
                            href='{{ "/bestiarium/" | prepend: site.baseurl }}' title="Bestiarium anzeigen">
                            <img loading="lazy" src='{{ site.imageurl}}/{{ "/061000/061767_hr1.webp" }}'">
                            <span>Bestiarium</span>
                        </a>
                    </li>
                    <li>
                        <a target="" {%- if page.page_category == "music" or page.instanceType == "music" or page.instance_type == "music" -%}class="active"{%- endif -%}
                            href='{{ "/music/" | prepend: site.baseurl }}' title="Music anzeigen">
                            <img loading="lazy" src='{{ site.imageurl}}/{{ "/000000/000036_hr1.webp" }}'">
                            <span data-translate="Navbar_Music">Music</span>
                        </a>
                    </li>
                    <li>
                        <a target="" {%- if page.page_category == "dalamud" or page.instanceType == "dalamud" or page.instance_type == "dalamud" -%}class="active"{%- endif -%}
                            href='{{ "/dalamud/" | prepend: site.baseurl }}' title="Dalamud anzeigen">
                            <img loading="lazy" src='{{ site.baseurl }}/assets/img/{{ "dalamud.webp" }}' alt="{{ debuff.icon }}">
                            <span data-translate="Navbar_Dalamud">Dalamud</span>
                        </a>
                    </li>
                    <li>
                        <a target="" {%- if page.page_category == "links" or page.instanceType == "links" or page.instance_type == "links" -%}class="active"{%- endif -%}
                            href='{{ "/links/" | prepend: site.baseurl }}' title="Links anzeigen">
                            <img loading="lazy" src='{{ site.imageurl}}/{{ "/061000/061834_hr1.webp" }}'">
                            <span data-translate="Navbar_Links">Links</span>
                        </a>
                    </li>
                </ul>

                <li>
                    <button type="button" class="sidebar__group-toggle" aria-expanded="{{ instancecontent }}" aria-controls="sidebar-group-instance-content">
                        <span class="sidebar__toggle-icon" aria-hidden="true">{%- if instancecontent == "true" -%}&#9660;{%- else -%}&#9654;{%- endif -%}</span>
                        Instance Content
                    </button>
                </li>
                <ul id="sidebar-group-instance-content" {% if instancecontent == "true" -%}style="display: inherit;"{%- endif %}>
                    <li>
                        <a target="" {%- if page.page_category == "all" -%}class="active"{%- endif -%}
                            href='{{ "/" | prepend: site.baseurl }}' title="Alle Guides anzeigen">
                            <img loading="lazy" src='{{ site.imageurl}}/{{ "/061000/061540_hr1.webp" }}'">
                            <span data-translate="Navbar_All Guides">All Guides</span>
                        </a>
                    </li>
                    <li class="sidebar__content-parent">
                        <a target="" {%- if page.page_category == "dungeons" or page.instanceType == "dungeon" or page.instance_type == "Dungeon" -%}class="active"{%- endif -%}
                            href='{{ "/dungeons/" | prepend: site.baseurl }}' title="Dungeon - Guides anzeigen">
                            <img loading="lazy" src='{{ site.imageurl}}/{{ "/061000/061801_hr1.webp" }}'">
                            <span data-translate="Navbar_Dungeons">Dungeons</span>
                        </a>
                        <button type="button" class="sidebar__submenu-toggle" aria-expanded="{% if page.page_category == "dungeons" or page.instanceType == "dungeon" or page.instance_type == "Dungeon" %}true{% else %}false{% endif %}" aria-controls="sidebar-submenu-dungeons" aria-label="Toggle Dungeons"><span class="sidebar__toggle-icon" aria-hidden="true">{% if page.page_category == "dungeons" or page.instanceType == "dungeon" or page.instance_type == "Dungeon" %}&#9660;{% else %}&#9654;{% endif %}</span></button>
                    </li>
                    {% include navbar-content-submenu.html id="dungeons" page_category="dungeons" instance_type="dungeon" instance_type_new="Dungeon" %}
                    <li class="sidebar__content-parent">
                        <a target="" {%- if page.page_category == "trials" or page.instanceType == "trial" or page.instance_type == "Trial" -%}class="active"{%- endif -%}
                            href='{{ "/trials/" | prepend: site.baseurl }}' title="Prüfung - Guides anzeigen">
                            <img loading="lazy" src='{{ site.imageurl}}/{{ "/061000/061804_hr1.webp" }}'">
                            <span data-translate="Navbar_Trials">Trials</span>
                        </a>
                        <button type="button" class="sidebar__submenu-toggle" aria-expanded="{% if page.page_category == "trials" or page.instanceType == "trial" or page.instance_type == "Trial" %}true{% else %}false{% endif %}" aria-controls="sidebar-submenu-trials" aria-label="Toggle Trials"><span class="sidebar__toggle-icon" aria-hidden="true">{% if page.page_category == "trials" or page.instanceType == "trial" or page.instance_type == "Trial" %}&#9660;{% else %}&#9654;{% endif %}</span></button>
                    </li>
                    {% include navbar-content-submenu.html id="trials" page_category="trials" instance_type="trial" instance_type_new="Trial" %}
                    <li class="sidebar__content-parent">
                        <a target="" {%- if page.page_category == "raids" or page.instanceType == "raid" or page.instance_type == "Raid" -%}class="active"{%- endif -%}
                            href='{{ "/raids/" | prepend: site.baseurl }}' title="Raid - Guides anzeigen">
                            <img loading="lazy" src='{{ site.imageurl}}/{{ "/061000/061802_hr1.webp" }}'">
                            <span data-translate="Navbar_Raids">Raids</span>
                        </a>
                        <button type="button" class="sidebar__submenu-toggle" aria-expanded="{% if page.page_category == "raids" or page.instanceType == "raid" or page.instance_type == "Raid" %}true{% else %}false{% endif %}" aria-controls="sidebar-submenu-raids" aria-label="Toggle Raids"><span class="sidebar__toggle-icon" aria-hidden="true">{% if page.page_category == "raids" or page.instanceType == "raid" or page.instance_type == "Raid" %}&#9660;{% else %}&#9654;{% endif %}</span></button>
                    </li>
                    {% include navbar-content-submenu.html id="raids" page_category="raids" instance_type="raid" instance_type_new="Raid" %}
                    <li class="sidebar__content-parent">
                        <a target="" {%- if page.page_category == "ultimates" or page.instanceType == "ultimate" or page.instance_type == "ultimate" -%}class="active"{%- endif -%}
                            href='{{ "/ultimates/" | prepend: site.baseurl }}' title="Ultimate - Guides anzeigen">
                            <img loading="lazy" src='{{ site.imageurl}}/{{ "/061000/061832_hr1.webp" }}'">
                            <span data-translate="Navbar_Ultimate Raids">Ultimate Raids</span>
                        </a>
                        <button type="button" class="sidebar__submenu-toggle" aria-expanded="{% if page.page_category == "ultimates" or page.instanceType == "ultimate" or page.instance_type == "ultimate" %}true{% else %}false{% endif %}" aria-controls="sidebar-submenu-ultimates" aria-label="Toggle Ultimate Raids"><span class="sidebar__toggle-icon" aria-hidden="true">{% if page.page_category == "ultimates" or page.instanceType == "ultimate" or page.instance_type == "ultimate" %}&#9660;{% else %}&#9654;{% endif %}</span></button>
                    </li>
                    {% include navbar-content-submenu.html id="ultimates" page_category="ultimates" instance_type="ultimate" instance_type_new="ultimate" %}
                    <li class="sidebar__content-parent">
                        <a target="" {%- if page.page_category == "allianzraid" or page.instanceType == "allianzraid" or page.instance_type == "AllianzRaid" -%}class="active"{%- endif -%}
                            href='{{ "/allianzraid/" | prepend: site.baseurl }}' title="Allianz Raid - Guides anzeigen">
                            <img loading="lazy" src='{{ site.imageurl}}/{{ "/061000/061844_hr1.webp" }}'">
                            <span data-translate="Navbar_Alliance Raids">Alliance Raids</span>
                        </a>
                        <button type="button" class="sidebar__submenu-toggle" aria-expanded="{% if page.page_category == "allianzraid" or page.instanceType == "allianzraid" or page.instance_type == "AllianzRaid" %}true{% else %}false{% endif %}" aria-controls="sidebar-submenu-allianzraid" aria-label="Toggle Alliance Raids"><span class="sidebar__toggle-icon" aria-hidden="true">{% if page.page_category == "allianzraid" or page.instanceType == "allianzraid" or page.instance_type == "AllianzRaid" %}&#9660;{% else %}&#9654;{% endif %}</span></button>
                    </li>
                    {% include navbar-content-submenu.html id="allianzraid" page_category="allianzraid" instance_type="allianzraid" instance_type_new="AllianzRaid" %}
                    <li class="sidebar__content-parent">
                        <a target="" {%- if page.page_category == "chaosallianzraid" or page.instanceType == "chaosallianzraid" or page.instance_type == "ChaosAllianzRaid" -%}class="active"{%- endif -%}
                            href='{{ "/chaosallianzraid/" | prepend: site.baseurl }}' title="Chaos Allianz Raid - Guides anzeigen">
                            <img loading="lazy" src='{{ site.imageurl}}/{{ "/061000/061850_hr1.webp" }}'">
                            <span data-translate="Navbar_Chaos Alliance Raids">Chaos Alliance Raids</span>
                        </a>
                        <button type="button" class="sidebar__submenu-toggle" aria-expanded="{% if page.page_category == "chaosallianzraid" or page.instanceType == "chaosallianzraid" or page.instance_type == "ChaosAllianzRaid" %}true{% else %}false{% endif %}" aria-controls="sidebar-submenu-chaosallianzraid" aria-label="Toggle Chaos Alliance Raids"><span class="sidebar__toggle-icon" aria-hidden="true">{% if page.page_category == "chaosallianzraid" or page.instanceType == "chaosallianzraid" or page.instance_type == "ChaosAllianzRaid" %}&#9660;{% else %}&#9654;{% endif %}</span></button>
                    </li>
                    {% include navbar-content-submenu.html id="chaosallianzraid" page_category="chaosallianzraid" instance_type="chaosallianzraid" instance_type_new="ChaosAllianzRaid" %}
                    <li class="sidebar__content-parent">
                        <a target="" {%- if page.page_category == "gewölbesuche" or page.instanceType == "gewölbesuche" or page.instance_type == "Gewölbesuche" -%}class="active"{%- endif -%}
                            href='{{ "/gewölbesuche/" | prepend: site.baseurl }}' title="Gewölbesuche - Guides anzeigen">
                            <img loading="lazy" src='{{ site.imageurl}}/{{ "/061000/061846_hr1.webp" }}'">
                            <span data-translate="Navbar_Varient & Criterion Dungeon">Varient & Criterion Dungeon</span>
                        </a>
                        <button type="button" class="sidebar__submenu-toggle" aria-expanded="{% if page.page_category == "gewölbesuche" or page.instanceType == "gewölbesuche" or page.instance_type == "Gewölbesuche" %}true{% else %}false{% endif %}" aria-controls="sidebar-submenu-gewölbesuche" aria-label="Toggle Variant and Criterion Dungeons"><span class="sidebar__toggle-icon" aria-hidden="true">{% if page.page_category == "gewölbesuche" or page.instanceType == "gewölbesuche" or page.instance_type == "Gewölbesuche" %}&#9660;{% else %}&#9654;{% endif %}</span></button>
                    </li>
                    {% include navbar-content-submenu.html id="gewölbesuche" page_category="gewölbesuche" instance_type="gewölbesuche" instance_type_new="Gewölbesuche" %}
                    <li class="sidebar__content-parent">
                        <a target="" {%- if page.page_category == "feldexkursion" or page.instanceType == "feldexkursion" or page.instance_type == "feldexkursion" -%}class="active"{%- endif -%}
                            href='{{ "/feldexkursion/" | prepend: site.baseurl }}' title="Feldexkursion - Guides anzeigen">
                            <img loading="lazy" src='{{ site.imageurl}}/{{ "/061000/061837_hr1.webp" }}'">
                            <span data-translate="Navbar_Field Operations">Field Operations</span>
                        </a>
                        <button type="button" class="sidebar__submenu-toggle" aria-expanded="{% if page.page_category == "feldexkursion" or page.instanceType == "feldexkursion" or page.instance_type == "feldexkursion" %}true{% else %}false{% endif %}" aria-controls="sidebar-submenu-feldexkursion" aria-label="Toggle Field Operations"><span class="sidebar__toggle-icon" aria-hidden="true">{% if page.page_category == "feldexkursion" or page.instanceType == "feldexkursion" or page.instance_type == "feldexkursion" %}&#9660;{% else %}&#9654;{% endif %}</span></button>
                    </li>
                    {% include navbar-content-submenu.html id="feldexkursion" page_category="feldexkursion" instance_type="feldexkursion" instance_type_new="feldexkursion" %}
                    <li class="sidebar__content-parent">
                        <a target="" {%- if page.page_category == "bluemage" or page.instanceType == "bluemage" or page.instance_type == "Bluemage" -%}class="active"{%- endif -%}
                            href='{{ "/bluemage/" | prepend: site.baseurl }}' title="Bluemage - Guides anzeigen">
                            <img loading="lazy" src='{{ site.imageurl}}/{{ "/061000/061836_hr1.webp" }}'">
                            <span data-translate="Navbar_Blue Mage">Blue Mage</span>
                        </a>
                        <button type="button" class="sidebar__submenu-toggle" aria-expanded="{% if page.page_category == "bluemage" or page.instanceType == "bluemage" or page.instance_type == "Bluemage" %}true{% else %}false{% endif %}" aria-controls="sidebar-submenu-bluemage" aria-label="Toggle Blue Mage"><span class="sidebar__toggle-icon" aria-hidden="true">{% if page.page_category == "bluemage" or page.instanceType == "bluemage" or page.instance_type == "Bluemage" %}&#9660;{% else %}&#9654;{% endif %}</span></button>
                    </li>
                    {% include navbar-content-submenu.html id="bluemage" page_category="bluemage" instance_type="bluemage" instance_type_new="Bluemage" %}
                    <li class="sidebar__content-parent">
                        <a target="" {%- if page.page_category == "potd" or page.instanceType == "potd" or page.instance_type == "potd" -%}class="active"{%- endif -%}
                            href='{{ "/potd/" | prepend: site.baseurl }}' title="Tiefes Gewöbe - Guides anzeigen">
                            <img loading="lazy" src='{{ site.imageurl}}/{{ "/061000/061824_hr1.webp" }}'">
                            <span data-translate="Navbar_Deep Dungeon">Deep Dungeon</span>
                        </a>
                        <button type="button" class="sidebar__submenu-toggle" aria-expanded="{% if page.page_category == "potd" or page.instanceType == "potd" or page.instance_type == "potd" %}true{% else %}false{% endif %}" aria-controls="sidebar-submenu-potd" aria-label="Toggle Deep Dungeons"><span class="sidebar__toggle-icon" aria-hidden="true">{% if page.page_category == "potd" or page.instanceType == "potd" or page.instance_type == "potd" %}&#9660;{% else %}&#9654;{% endif %}</span></button>
                    </li>
                    {% include navbar-content-submenu.html id="potd" page_category="potd" instance_type="potd" instance_type_new="potd" %}
                    <li class="sidebar__content-parent">
                        <a target="" {%- if page.page_category == "guildhest" or page.instanceType == "guildhest" or page.instance_type == "guildhest" -%}class="active"{%- endif -%}
                            href='{{ "/guildhest/" | prepend: site.baseurl }}' title="Gildengeheiße - Guides anzeigen">
                            <img loading="lazy" src='{{ site.imageurl}}/{{ "/061000/061803_hr1.webp" }}'">
                            <span data-translate="Navbar_Guildhests">Guildhests</span>
                        </a>
                        <button type="button" class="sidebar__submenu-toggle" aria-expanded="{% if page.page_category == "guildhest" or page.instanceType == "guildhest" or page.instance_type == "guildhest" %}true{% else %}false{% endif %}" aria-controls="sidebar-submenu-guildhest" aria-label="Toggle Guildhests"><span class="sidebar__toggle-icon" aria-hidden="true">{% if page.page_category == "guildhest" or page.instanceType == "guildhest" or page.instance_type == "guildhest" %}&#9660;{% else %}&#9654;{% endif %}</span></button>
                    </li>
                    {% include navbar-content-submenu.html id="guildhest" page_category="guildhest" instance_type="guildhest" instance_type_new="guildhest" %}
                    <li class="sidebar__content-parent">
                        <a target="" {%- if page.page_category == "treasure" or page.instanceType == "treasure" or page.instance_type == "treasure" -%}class="active"{%- endif -%}
                            href='{{ "/treasure/" | prepend: site.baseurl }}' title="Schatzdungeon - Guides anzeigen">
                            <img loading="lazy" src='{{ site.imageurl}}/{{ "/061000/061808_hr1.webp" }}'">
                            <span data-translate="Navbar_Treasure Dungeon">Treasure Dungeon</span>
                        </a>
                        <button type="button" class="sidebar__submenu-toggle" aria-expanded="{% if page.page_category == "treasure" or page.instanceType == "treasure" or page.instance_type == "treasure" %}true{% else %}false{% endif %}" aria-controls="sidebar-submenu-treasure" aria-label="Toggle Treasure Dungeons"><span class="sidebar__toggle-icon" aria-hidden="true">{% if page.page_category == "treasure" or page.instanceType == "treasure" or page.instance_type == "treasure" %}&#9660;{% else %}&#9654;{% endif %}</span></button>
                    </li>
                    {% include navbar-content-submenu.html id="treasure" page_category="treasure" instance_type="treasure" instance_type_new="treasure" %}
                    <li class="sidebar__content-parent">
                        <a target="" {%- if page.page_category == "pvp" or page.instanceType == "pvp" or page.instance_type == "pvp" -%}class="active"{%- endif -%}
                            href='{{ "/pvp/" | prepend: site.baseurl }}' title="PVP - Guides anzeigen">
                            <img loading="lazy" src='{{ site.imageurl}}/{{ "/061000/061806_hr1.webp" }}'">
                            <span data-translate="Navbar_PVP">PVP</span>
                        </a>
                        <button type="button" class="sidebar__submenu-toggle" aria-expanded="{% if page.page_category == "pvp" or page.instanceType == "pvp" or page.instance_type == "pvp" %}true{% else %}false{% endif %}" aria-controls="sidebar-submenu-pvp" aria-label="Toggle PVP"><span class="sidebar__toggle-icon" aria-hidden="true">{% if page.page_category == "pvp" or page.instanceType == "pvp" or page.instance_type == "pvp" %}&#9660;{% else %}&#9654;{% endif %}</span></button>
                    </li>
                    {% include navbar-content-submenu.html id="pvp" page_category="pvp" instance_type="pvp" instance_type_new="pvp" %}
                    <li class="sidebar__content-parent">
                        <a target="" {%- if page.page_category == "training" or page.instanceType == "training" or page.instance_type == "training" -%}class="active"{%- endif -%}
                            href='{{ "/training/" | prepend: site.baseurl }}' title="Training - Guides anzeigen">
                            <img loading="lazy" src='{{ site.imageurl}}/{{ "/061000/061823_hr1.webp" }}'">
                            <span data-translate="Navbar_Training">Training</span>
                        </a>
                        <button type="button" class="sidebar__submenu-toggle" aria-expanded="{% if page.page_category == "training" or page.instanceType == "training" or page.instance_type == "training" %}true{% else %}false{% endif %}" aria-controls="sidebar-submenu-training" aria-label="Toggle Training"><span class="sidebar__toggle-icon" aria-hidden="true">{% if page.page_category == "training" or page.instanceType == "training" or page.instance_type == "training" %}&#9660;{% else %}&#9654;{% endif %}</span></button>
                    </li>
                    {% include navbar-content-submenu.html id="training" page_category="training" instance_type="training" instance_type_new="training" %}
                    <li class="sidebar__content-parent">
                        <a target="" {%- if page.page_category == "overworld" or page.instanceType == "overworld" or page.instance_type == "overworld" -%}class="active"{%- endif -%}
                            href='{{ "/overworld/" | prepend: site.baseurl }}' title="Overworld - Guides anzeigen">
                            <img loading="lazy" src='{{ site.imageurl}}/{{ "/052000/052474_hr1.webp" }}'">
                            <span data-translate="Navbar_Overworld">Overworld</span>
                        </a>
                        <button type="button" class="sidebar__submenu-toggle" aria-expanded="{% if page.page_category == "overworld" or page.instanceType == "overworld" or page.instance_type == "overworld" %}true{% else %}false{% endif %}" aria-controls="sidebar-submenu-overworld" aria-label="Toggle Overworld"><span class="sidebar__toggle-icon" aria-hidden="true">{% if page.page_category == "overworld" or page.instanceType == "overworld" or page.instance_type == "overworld" %}&#9660;{% else %}&#9654;{% endif %}</span></button>
                    </li>
                    {% include navbar-content-submenu.html id="overworld" page_category="overworld" instance_type="overworld" instance_type_new="overworld" %}
                </ul>
            </ul>
            <div style="display: none" data-extra-translate="/assets/translations/klassen"></div>
            <div style="display: none" data-extra-translate="/assets/translations/summary/dungeon"></div>
            <div style="display: none" data-extra-translate="/assets/translations/summary/trial"></div>
            <div style="display: none" data-extra-translate="/assets/translations/summary/raid"></div>
            <div style="display: none" data-extra-translate="/assets/translations/summary/ultimate"></div>
            <div style="display: none" data-extra-translate="/assets/translations/summary/allianzraid"></div>
            <div style="display: none" data-extra-translate="/assets/translations/summary/chaosallianzraid"></div>
            <div style="display: none" data-extra-translate="/assets/translations/summary/gewölbesuche"></div>
            <div style="display: none" data-extra-translate="/assets/translations/summary/feldexkursion"></div>
            <div style="display: none" data-extra-translate="/assets/translations/summary/bluemage"></div>
            <div style="display: none" data-extra-translate="/assets/translations/summary/potd"></div>
            <div style="display: none" data-extra-translate="/assets/translations/summary/guildhest"></div>
            <div style="display: none" data-extra-translate="/assets/translations/summary/treasure"></div>
            <div style="display: none" data-extra-translate="/assets/translations/summary/pvp"></div>
            <div style="display: none" data-extra-translate="/assets/translations/summary/training"></div>
            <div style="display: none" data-extra-translate="/assets/translations/summary/overworld"></div>
        </div>
    </div>

<!-- END Include from _includes/navbar -->
