{%- comment -%} ==================================================================
    // Index
=============================================================== {%- endcomment -%}
<div class="index">
    {%- assign my_array = "ew,shb,sb,hw,arr,ffxiv" | split: ',' -%}
    {%- for x in my_array -%}
        {%- case x -%}
            {%- when "ew" -%}
            <!-- Endwalker Guide Index ============================================ -->
                {%- assign x_id = "endwalker" -%}
                {%- assign x_title = "6.x - Endwalker" -%}
            {%- when "shb" -%}
            <!-- Shadowbringers Guide Index ============================================ -->
                {%- assign x_id = "shadowbringers" -%}
                {%- assign x_title = "5.x - Shadowbringers" -%}
            {%- when "sb" -%}
            <!-- Stormblood Guide Index ============================================ -->
                {%- assign x_id = "stormblood" -%}
                {%- assign x_title = "4.x - Stormblood" -%}
            {%- when "hw" -%}
            <!-- Heavensward Guide Index ============================================ -->
                {%- assign x_id = "heavensward" -%}
                {%- assign x_title = "3.x - Heavensward" -%}
            {%- when "arr" -%}
            <!-- A Realm Reborn Guide Index ============================================ -->
                {%- assign x_id = "a_realm_reborn" -%}
                {%- assign x_title = "2.x - A Realm Reborn" -%}
            {%- when "ffxiv" -%}
            <!-- A Realm Reborn Guide Index ============================================ -->
                {%- assign x_id = "final_fantasy_1_0" -%}
                {%- assign x_title = "1.x - Final Fantasy 14" -%}
        {%- endcase -%}

        <div class="index-divider" data-expansion="{{ x }}">
            <h2 class="index-divider__title">{{ x_title }}</h2>
        </div>
        <div class="index__list_patches" data-expansion="{{ x }}">
            <table class="table table-bordered table-dark table-striped text-light patch_table" id="tInfo">
                <thead>
                    <tr>
                        <th scope="col">Patch</th>
                        <th scope="col">Release</th>
                        <th scope="col">Tage seit letztem Patch</th>
                        {%- if x != "ffxiv" -%}
                            <th scope="col">Link zu den Patch Notes</th>
                            <th scope="col">Link zu den speziellen Patch Seiten</th>
                        {%- endif -%}
                    </tr>
                </thead>
                <tbody>
                    {%- for patch in page.patches reversed -%}
                        {%- if x == patch.pname -%}
                            <tr>
                                <td class="patch_table_1">{{patch.patchnumber}}</td>
                                <td class="patch_table_2">{{patch.date}}</td>
                                <td class="patch_table_3">{{patch.dslr}}</td>
                                {%- if patch.link_to_patch -%}
                                    <td class="patch_table_4"><a href="{{patch.link_to_patch}}" target="_blank">Link to <b> {{patch.patchnumber}}</b> Patch notes</a></td>
                                {%- elsif x != "ffxiv" -%}
                                    <td class="patch_table_4"></td>
                                {%- endif -%}
                                {%- if patch.link_to_special_page -%}
                                    <td class="patch_table_5"><a href="{{patch.link_to_special_page}}" target="_blank">Link to {{patch.patchnumber}} <b> {{patch.name}}</b> Site</a></td>
                                {%- elsif x != "ffxiv" -%}
                                    <td class="patch_table_5"></td>
                                {%- endif -%}
                            </tr>
                        {%- endif -%}
                    {%- endfor -%}
                </tbody>
            </table>
        </div>
    {%- endfor -%}
    <!--Patchtable-->
    <div class="index-divider" data-expansion="Patchlist"><h2 class="index-divider__title">Patchlist</h2></div>
    <div class="index__list_patches" data-expansion="Patchlist">

        <div class="row" id="div_patch-table">
            <!--LEFT Half-->
            <div class="col-md">
                <table class="table table-bordered table-dark table-striped text-light patch_table" id="tInfo" style="text-align: center">
                    <thead>
                        <tr>
                            <th></th>
                            {%- for major in page.major_patches -%}
                                <th>{{major}}</th>
                            {%- endfor -%}
                        </tr>
                    </thead>
                    <tbody>
                        {%- for minor in page.minor_patches -%}
                            <tr>
                                <td class="patch_table_1">{{minor}}</td>
                                {%- for major in page.major_patches -%}
                                    {% assign final_version = nil %}
                                    {% assign version = major | append: '.' | append: minor %}
                                    <!--<span style="color: aqua;">{{version}}</span>-->
                                    {%- for patch in page.patches -%}
                                        {% assign xxx = patch.patchnumber %}
                                        {% if patch.patchnumber == version %}
                                            {% assign final_version = patch.dslr %}
                                        {% endif %}
                                    {%- endfor -%}
                                    <td scope="col">{{final_version}}</td>
                                {%- endfor -%}
                            </tr>
                        {%- endfor -%}
                    </tbody>
                </table>
            </div>
            <!--RIGHT Half-->
            <div class="col-md">
                <table class="table table-bordered table-dark table-striped text-light patch_table" id="tInfo2" style="text-align: center">
                    <thead>
                        <tr>
                            <th></th>
                            {%- for major in page.major_patches -%}
                                <th>{{major}}</th>
                            {%- endfor -%}
                        </tr>
                    </thead>
                    <tbody>
                        {%- for minor in page.minor_patches -%}
                            <tr>
                                <td class="patch_table_1">{{minor}}</td>
                                {%- for major in page.major_patches -%}
                                    {% assign final_version = nil %}
                                    {% assign version = major | append: '.' | append: minor %}
                                    <!--<span style="color: aqua;">{{version}}</span>-->
                                    {%- for patch in page.patches -%}
                                        {% assign xxx = patch.patchnumber %}
                                        {% if patch.patchnumber == version %}
                                            {% assign final_version = patch.date %}
                                        {% endif %}
                                    {%- endfor -%}
                                    <td scope="col">{{final_version}}</td>
                                {%- endfor -%}
                            </tr>
                        {%- endfor -%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
