{%- comment -%} ==================================================================
    // Index
=============================================================== {%- endcomment -%}
<div class="index">
    {%- assign my_array = site.ffxiv_expansion_list | split: ',' -%}
    {%- for x in my_array -%}
        {% include helper/handle_version_switchcase.html %}
        <div class="index-divider" data-expansion="{{ x }}">
            {%- include _components/expantion_filter.html -%}
        </div>
        <div class="index__list_patches" data-expansion="{{ x }}">
            <table class="table table-bordered table-dark table-striped text-light patch_table" id="tInfo">
                <thead>
                    <tr>
                        <th scope="col">Waffenname</th>
                        <th scope="col">Quest</th>
                        <th scope="col">Step</th>
                    </tr>
                </thead>
                <tbody>
                    {%- for patch in page.patches reversed -%}
                        {%- if x == patch.pname -%}
                            {%- for quest in patch.quests reversed -%}
                                <tr>
                                    <td class="patch_table_2">{{quest.wname}}</td>
                                    <td class="patch_table_1">{{quest.name}}</td>
                                    <td class="patch_table_2">{{quest.step}}</td>
                                </tr>
                            {%- endfor -%}
                        {%- endif -%}
                    {%- endfor -%}
                </tbody>
            </table>
        </div>
    {%- endfor -%}
</div>
