<!-- Include from _includes/scripts -->
<!-- Match Media -->
<script type="text/javascript" src="{{ "/assets/vendor/matchMedia.js" | prepend: site.baseurl }}"></script>
<!-- Custom Scripts -->
<script type="text/javascript" src="{{ "/assets/js/core.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/app.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/sidebar-state.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/openEnemy.js" | prepend: site.baseurl }}"></script>
<!-- Mobile menu + expansion toggle state synchronization -->
<script type="text/javascript" src="{{ "/assets/js/ui-polish.js" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}"></script>
<script type="module" src="{{ "/assets/js/ionicons740/ionicons.esm.js" | prepend: site.baseurl }}"></script>
<script nomodule src="{{ "/assets/js/ionicons740/ionicons.js" | prepend: site.baseurl }}"></script>
<!-- END Include from _includes/scripts -->
