<!-- Include from _includes/airship_submarine -->
<div class="index">
    {%- assign my_array = site.ffxiv_housingstops | split: ',' -%}
    {%- for x in my_array -%}
        <div class="index-divider" data-expansion="{{ x }}">
            {%- for location in page.locations reversed -%}
                {%- if x == location.name -%}
                    <span class="index-divider__title" data-translate="Housing_Location_{{location.name}}">{{ location.name }}</span>
                {%- endif -%}
            {%- endfor -%}
        </div>
        <div class="index__list_patches" data-expansion="{{ x }}">
            <table class="table table-bordered table-dark table-striped text-light patch_table" id="tInfo">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        {%- if x != "Sea of Clouds" -%}
                            <th scope="col">Alias</th>
                        {%- endif -%}
                        <th scope="col">Unlocked_By</th>
                        <th scope="col">Level</th>
                        <th scope="col">Exp</th>
                        <th scope="col">Items</th>
                    </tr>
                </thead>
                <tbody>
                    {%- for location in page.locations reversed -%}
                        {%- if x == location.name -%}
                            {%- for stop in location.stops reversed -%}
                                <tr>
                                    <td class="hm_table_1">
                                        <span data-translate="Housing_Location_{{stop.name}}"> {{ stop.name }} </span>
                                    </td>
                                    {%- if x != "Sea of Clouds" -%}
                                        <td class="hm_table_2">{{stop.alias}}</td>
                                    {%- endif -%}
                                    <td class="hm_table_4">
                                        <span data-translate="Housing_Location_{{stop.unlocked}}"> {{ stop.unlocked }} </span>
                                    </td>
                                    <td class="hm_table_5">{{stop.level}}</td>
                                    <td class="hm_table_6">{{stop.exp}}</td>
                                    <td class="hm_table_7">
                                        {%- for lang in LANGUAGES -%}
                                            <span class="lang-toggle lang-toogle-{{lang}}"> {{ stop.items[lang] }} </span>
                                        {%- endfor -%}
                                    </td>
                                </tr>
                            {%- endfor -%}
                        {%- endif -%}
                    {%- endfor -%}
                </tbody>
            </table>
        </div>
    {%- endfor -%}
</div>
<!-- END Include from _includes/airship_submarine -->
