<!-- Include from _includes/gear -->
<link rel="stylesheet" href="{{ "/assets/css/gear.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ "/assets/css/ffxiv.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}" type="text/css" media="all" />

<div class="index">
  <div class="container col">
      <div id="filterOptions" class="my-4 form-inline">
          <select class="form-control bg-charcoal text-light mx-1" id="classjob" size="1">
              <option data-translate="Content_Title_Paladin"       value="PLD">Paladin</option>
              <option data-translate="Content_Title_Warrior"       value="KRG">Krieger</option>
              <option data-translate="Content_Title_Dark Knight"   value="DKR">Dunkelritter</option>
              <option data-translate="Content_Title_Gunbreaker"    value="REV">Revolverklinge</option>

              <option data-translate="Content_Title_White Mage"    value="WMA">Weißmagier</option>
              <option data-translate="Content_Title_Scholar"       value="GLT">Gelehrter</option>
              <option data-translate="Content_Title_Astrologian"   value="AST">Astrologe</option>
              <option data-translate="Content_Title_Sage"          value="WEI">Weiser</option>

              <option data-translate="Content_Title_Monk"          value="MÖN">Mönch</option>
              <option data-translate="Content_Title_Dragoon"       value="DRG">Dragoon</option>
              <option data-translate="Content_Title_Ninja"         value="NIN">Ninja</option>
              <option data-translate="Content_Title_Samurai"       value="SAM">Samurai</option>
              <option data-translate="Content_Title_Reaper"        value="SNT">Schnitter</option>
              <option data-translate="Content_Title_Viper"         value="VPR">Viper</option>

              <option data-translate="Content_Title_Bard"          value="BRD">Barde</option>
              <option data-translate="Content_Title_Machinist"     value="MCH">Maschinist</option>
              <option data-translate="Content_Title_Dancer"        value="TÄN">Tänzer</option>

              <option data-translate="Content_Title_Summoner"      value="BSW">Beschwörer</option>
              <option data-translate="Content_Title_Black Mage"    value="SMA">Schwarzmagier</option>
              <option data-translate="Content_Title_Red Mage"      value="RMA" selected>Rotmagier</option>
              <option data-translate="Content_Title_Blue Mage"     value="BMA">Blaumagier</option>
              <option data-translate="Content_Title_Pictomancer"   value="PKT">Piktomant</option>

              <option data-translate="Content_Title_Carpenter"     value="ZMR">Zimmerer</option>
              <option data-translate="Content_Title_Blacksmith"    value="GRS">Grobschmied</option>
              <option data-translate="Content_Title_Armorer"       value="PLA">Plattner</option>
              <option data-translate="Content_Title_Goldsmith"     value="GLD">Goldschmied</option>
              <option data-translate="Content_Title_Leatherworker" value="GER">Gerber</option>
              <option data-translate="Content_Title_Weaver"        value="WEB">Weber</option>
              <option data-translate="Content_Title_Alchemist"     value="ALC">Alchemist</option>
              <option data-translate="Content_Title_Culinarian"    value="GRM">Gourmet</option>

              <option data-translate="Content_Title_Miner"         value="MIN">Minenarbeiter</option>
              <option data-translate="Content_Title_Botanist"      value="GÄR">Gärtner</option>
              <option data-translate="Content_Title_Fisher"        value="FIS">Fischer</option>
          </select>
          <input class="form-control bg-charcoal text-light mx-1" type="number" id="lvl_from" value="" min="1" max = "90" placeholder="">
          <input class="form-control bg-charcoal text-light mx-1" type="number" id="lvl_to" value="" min="1" max = "90" placeholder="">

          <input class="form-control bg-charcoal text-light mx-1" type="number" id="ilvl_from" value="" min="1" max = "605" placeholder="">
          <input class="form-control bg-charcoal text-light mx-1" type="number" id="ilvl_to" value="" min="1" max = "605" placeholder="">

          <label title="white gear" class="checkbox white"><input class="" type="checkbox" id="rarity_0" /></label>
          <label title="red gear" class="checkbox red"><input class=" mx-1" type="checkbox" id="rarity_7" /></label>
          <label title="green gear" class="checkbox green"><input class="" type="checkbox" id="rarity_2" /></label>
          <label title="blue gear" class="checkbox blue"><input class=" mx-1" type="checkbox" id="rarity_3" /></label>
          <label title="purpel gear" class="checkbox purpel"><input class="" type="checkbox" id="rarity_4" /></label>

         <label title="Include HQ in List" style="display: flex;" class="checkbox white"><input class=" mx-1" type="checkbox" id="include_hq" checked/><span class="x_box_blah">HQ</span></label>
         <label title="Show only HQ if both exists" style="display: flex;" class="checkbox white"><input class="" type="checkbox" id="limit_to_hq" /><span class="x_box_blah">HQ2</span></label>

          <input class="form-control bg-charcoal text-light mx-1" type="button" name="Search" value="Search" onclick="call_api_data()" data-value-translate="Gear_Search">
      </div>
      <div class="my-4" id="gearlist">
          <div class="my-1" id="weapon_left"></div>
          <div class="my-1" id="weapon_right"></div>
          <div class="my-1" id="kopf"></div>
          <div class="my-1" id="rumpf"></div>
          <div class="my-1" id="hände"></div>
          <div class="my-1" id="beine"></div>
          <div class="my-1" id="füße"></div>
          <div class="my-1" id="ohrring"></div>
          <div class="my-1" id="halskette"></div>
          <div class="my-1" id="armreif"></div>
          <div class="my-1" id="ring_links"></div>
          <div class="my-1" id="ring_rechts"></div>
      </div>
  </div>
  <div style="position: sticky;height: 50px;bottom: 0px;">
      <table class="table-bordered table-dark bg-charcoal text-light" id="table_stats_overview">
      </table>
  </div>
  <script type="text/javascript"> document.getElementById("races_select").onchange() </script>
</div>
<script type="text/javascript" src="{{ "/assets/js/gear.js" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}"></script>
<!-- END Include from _includes/gear -->
