                <div class="guide__accordion-copy-wrapper">
                    <h3 class="guide__accordion-title">Tiefes Gewölbe Fallen</h3>
                    <div class="guide__mechanics-wrapper">
                        <table class="table-striped table-dark bg-charcoal text-light" style="text-align: center">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Icon</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="lang-toggle lang-toogle-en" style="display: none;">Toading Trap (The Palace of the Dead)</span>
                                        <span class="lang-toggle lang-toogle-de" style="display: none;">Froschfalle (Palast der Toten)</span>
                                        <span class="lang-toggle lang-toogle-fr" style="display: none;">Piège Batracien (Palais des morts)</span>
                                        <span class="lang-toggle lang-toogle-ja" style="display: none;">トードトラップ (死者の宮殿)</span>
                                        <span class="lang-toggle lang-toogle-cn" style="display: none;">蛙变陷阱 (死者宫殿)</span>
                                        <span class="lang-toggle lang-toogle-ko" style="display: none;">두꺼비 함정 (망자의 궁전)</span>

                                    </td>
                                    <td><img style="object-fit: scale-down; height: 100px" src="/assets/img/content/potd/Froschfalle.png" alt="Froschfalle.png"/></td>
                            </tr>
                                <tr>
                                    <td>
                                        <span class="lang-toggle lang-toogle-en" style="display: none;">Odder Trap (Heaven-on-High)</span>
                                        <span class="lang-toggle lang-toogle-de" style="display: none;">Otterfalle (Himmelssäule)</span>
                                        <span class="lang-toggle lang-toogle-fr" style="display: none;">Piège Loutre Choute (Pilier des Cieux)</span>
                                        <span class="lang-toggle lang-toogle-ja" style="display: none;">ウソウソトラップ (アメノミハシラ)</span>
                                        <span class="lang-toggle lang-toogle-cn" style="display: none;">獭獭陷阱 (天之御柱)</span>
                                        <span class="lang-toggle lang-toogle-ko" style="display: none;">달달이 함정 (천궁탑)</span>
                                    </td>
                                    <td><img style="object-fit: scale-down; height: 100px" src="/assets/img/content/potd/Otterfalle.png" alt="Otterfalle.png"/></td></tr>
                                <tr>
                                    <td>
                                        <span class="lang-toggle lang-toogle-en" style="display: none;">Owling Trap (Eureka Orthos)</span>
                                        <span class="lang-toggle lang-toogle-de" style="display: none;">Eulettenfalle (Eureka Orthos)</span>
                                        <span class="lang-toggle lang-toogle-fr" style="display: none;">Piège Du Bébé Hibou (Eurêka Orthos)</span>
                                        <span class="lang-toggle lang-toogle-ja" style="display: none;">オウレットトラップ (オルト・エウレカ)</span>
                                        <span class="lang-toggle lang-toogle-cn" style="display: none;">Unknown_7E77</span>
                                        <span class="lang-toggle lang-toogle-ko" style="display: none;">Unknown_7E77</span>
                                    </td>
                                    <td><img style="object-fit: scale-down; height: 100px" src="/assets/img/content/potd/Eulettenfalle.png" alt="Eulettenfalle.png"/></td></tr>
                                <tr>
                                    <td>
                                        <span class="lang-toggle lang-toogle-en" style="display: none;">Impeding Trap</span>
                                        <span class="lang-toggle lang-toogle-de" style="display: none;">Hinderfalle</span>
                                        <span class="lang-toggle lang-toogle-fr" style="display: none;">Piège Inhibant</span>
                                        <span class="lang-toggle lang-toogle-ja" style="display: none;">阻害トラップ</span>
                                        <span class="lang-toggle lang-toogle-cn" style="display: none;">妨碍陷阱</span>
                                        <span class="lang-toggle lang-toogle-ko" style="display: none;">방해 함정</span>
                                    </td>
                                    <td><img style="object-fit: scale-down; height: 100px" src="/assets/img/content/potd/Hinderfalle.png" alt="Hinderfalle.png"/></td></tr>
                                <tr>
                                    <td>
                                        <span class="lang-toggle lang-toogle-en" style="display: none;">Landmine</span>
                                        <span class="lang-toggle lang-toogle-de" style="display: none;">Mine</span>
                                        <span class="lang-toggle lang-toogle-fr" style="display: none;">Mine</span>
                                        <span class="lang-toggle lang-toogle-ja" style="display: none;">地雷</span>
                                        <span class="lang-toggle lang-toogle-cn" style="display: none;">地雷</span>
                                        <span class="lang-toggle lang-toogle-ko" style="display: none;">지뢰</span>
                                    </td>
                                    <td><img style="object-fit: scale-down; height: 100px" src="/assets/img/content/potd/Landmine.png" alt="Landmine.png"/></td></tr>
                                <tr>
                                    <td>
                                        <span class="lang-toggle lang-toogle-en" style="display: none;">Enfeebling Trap</span>
                                        <span class="lang-toggle lang-toogle-de" style="display: none;">Schwächfalle</span>
                                        <span class="lang-toggle lang-toogle-fr" style="display: none;">Piège Affaiblissant</span>
                                        <span class="lang-toggle lang-toogle-ja" style="display: none;">弱体トラップ</span>
                                        <span class="lang-toggle lang-toogle-cn" style="display: none;">弱化陷阱</span>
                                        <span class="lang-toggle lang-toogle-ko" style="display: none;">약화 함정</span>
                                    </td>
                                    <td><img style="object-fit: scale-down; height: 100px" src="/assets/img/content/potd/Schwächefalle.png" alt="Schwächefalle.png"/></td></tr>
                                <tr>
                                    <td>
                                        <span class="lang-toggle lang-toogle-en" style="display: none;">Luring Trap</span>
                                        <span class="lang-toggle lang-toogle-de" style="display: none;">Ziehfalle</span>
                                        <span class="lang-toggle lang-toogle-fr" style="display: none;">Piège Attracteur</span>
                                        <span class="lang-toggle lang-toogle-ja" style="display: none;">誘引トラップ</span>
                                        <span class="lang-toggle lang-toogle-cn" style="display: none;">诱饵陷阱</span>
                                        <span class="lang-toggle lang-toogle-ko" style="display: none;">유인 함정</span>
                                    </td>
                                    <td><img style="object-fit: scale-down; height: 100px" src="/assets/img/content/potd/Ziehfalle.png" alt="Ziehfalle.png"/></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>



