<!-- Include from _includes/patch_details/summary -->
<div class="summary">
    <a class="index-item__link xiv-card" href="{{ guide.url | prepend: site.baseurl }}" title="Go to the {{ guide.title.de }} Guide">
        <div
            class="index-item__background"
            {%- if guide.cover -%}
                style="background-image: url('{{ guide.cover }}')"
            {%- elsif guide.image -%}
                style="background-image:
                    {%- if guide.image contains "/assets/" -%} url('{{ guide.image | prepend: site.baseurl }}');
                    {%- else -%}                               url('{{ guide.image | prepend: site.imageurl }}');
                    {%- endif -%}
                    background-size: contain;
            {%- endif -%}">
        </div>
        <div class="xiv-card-body index-item__body index-item__body--text-only">
            <div class="SummaryName">
                <h3 class="index-item__title xiv-card-title">
                    {%- for lang in LANGUAGES -%}
                        <span class="lang-toggle lang-toogle-{{lang}}"> {{ guide.title[lang] }} </span>
                    {%- endfor -%}
                </h3>
                <h4 class="lang-toggle lang-toogle-en-sub index-item__title_en xiv-card-meta">
                    {{ guide.title.en }}
                </h4>
            </div>
        </div>
    </a>
</div>
<!-- END Include from _includes/patch_details/summary -->
