<!-- Include from _includes/_components/guide-attack-types -->
  <div class="Attributes guide__accordion-tag-wrapper">
    {%- if attack.combo -%}
        {%- for action in attack.dutyActions -%}
            <span class="guide__accordion-tag--duty-action" data-translate="AttackType_DutyAction">Duty Action</span>
        {%- endfor -%}
        <span class="guide__accordion-tag--combo" data-translate="AttackType_Combo">Combo</span>
    {%- elsif attack.variation -%}
        {%- for action in attack.dutyActions -%}
            <span class="guide__accordion-tag--duty-action" data-translate="AttackType_DutyAction">Duty Action</span>
        {%- endfor -%}
        <span class="guide__accordion-tag--variation" data-translate="AttackType_Variation">Variation</span>
    {%- else -%}
      {%- if page.cms == "netlify-cms" -%}
        {%- for role in attack.roles -%}
          <span class="guide__accordion-tag--role" data-translate="AttackType_{{role}}">{{ role }}</span>
        {%- endfor -%}
        {%- for action in attack.dutyActions -%}
          <span class="guide__accordion-tag--duty-action" data-translate="AttackType_DutyAction">Duty Action</span>
        {%- endfor -%}
        {%- for tag in attack.tags -%}
          <span class="guide__accordion-tag--attack" data-translate="AttackType_{{tag}}">{{ tag }}</span>
        {%- endfor -%}
      {%- else -%}
        {%- for role in attack.roles -%}
          <span class="guide__accordion-tag--role" data-translate="AttackType_{{role.role}}">{{ role.role }}</span>
        {%- endfor -%}
        {%- for action in attack.dutyActions -%}
          <span class="guide__accordion-tag--duty-action" data-translate="AttackType_DutyAction">Duty Action</span>
        {%- endfor -%}
        {%- for tag in attack.tags -%}
          <span class="guide__accordion-tag--attack" data-translate="AttackType_{{tag.tag}}">{{ tag.tag }}</span>
        {%- endfor -%}
      {%- endif -%}
    {%- endif -%}
  </div>
<!-- END Include from _includes/_components/guide-attack-types -->
