<!-- Include from _includes/_components/guide-image-wrapper -->
<!-- Event Skill Script -->
<div class="guide__script-wrapper">
    <!-- Boss Image Loop Wrapper-->
    <ul class="guide__image-list">
        <!-- Handler for Mechanics -->
        {%- for image in step.images -%}
            {%- include _components/guide-images.html -%}
        {%- endfor -%}
        <!-- Handler for Attacks -->
        {%- for image in phase.images -%}
            {%- include _components/guide-images.html -%}
        {%- endfor -%}
    </ul>
</div>
<!-- END Include from _includes/_components/guide-image-wrapper -->
