<!-- Event Alerts -->
<div class="guide__alerts-wrapper">
    <div class="guide__accordion-trigger--04--grid" id="{{ enemy.id | slugify }}-{{ phase.phase }}Alerts">
        <i class="Dropdown material-icons"><ion-icon size="large" name="chevron-down-outline" style="color: white !important"></ion-icon></i>
        <h3 class="Names guide__accordion-trigger-title" data-translate="Alert_GeneralHint">Allgemeine Hinweise</h3>
    </div>
    <div class="guide__accordion-content--04">
        <hr/>
        <!-- Alert List -->
        <ul class="guide__alerts-list">
            {%- for alert in phase.alerts -%}
                <li class="guide__alerts-item">{{ alert.alert }}</li>
            {%- endfor -%}
        </ul>
    </div>
</div>
