<!-- Attack Template ======================================================= -->
<div class="guide__accordion-trigger--{%- if page.sequence -%}02{%- else -%}03{%- endif -%}
            {%- if attack.attack_in_use == 'false' -%}--ignore
            {%- elsif attack.dutyActions -%}--dutyAction
            {%- elsif attack.combo -%}--combo
            {%- elsif attack.variation -%}--variation
            {%- else -%}--attack
            {%- endif -%}">
    <i class="material-icons" style="{%- if attack.disable == 'true' -%}display: none;{%- endif -%}"><ion-icon size="large" name="chevron-down-outline" style="color: white !important"></ion-icon></i>
    <h4 class="guide__accordion-trigger-title">
        <span class="{% if attack.damage_type == 'Magical' %} attack-is-magic
                     {% elsif attack.damage_type && attack.damage_type != 'None' %} attack-is-physical
                     {% endif %}">
            <span class="lang-toggle lang-toogle-de">{{ attack.title.de }}</span>
            <span class="lang-toggle lang-toogle-en">{{ attack.title.en }}</span>
            <span class="lang-toggle lang-toogle-fr">{{ attack.title.fr }}</span>
            <span class="lang-toggle lang-toogle-ja">{{ attack.title.ja }}</span>
            <span class="lang-toggle lang-toogle-cn">{{ attack.title.cn }}</span>
            <span class="lang-toggle lang-toogle-ko">{{ attack.title.ko }}</span>
        </span>

        {%- if attack.title.en -%}
            <div class="lang-toggle lang-toogle-en-sub guide__accordion-trigger-subtitle"> | {{ attack.title.en }}</div>
        {%- endif -%}
        {%- if attack.title_id -%}
            <div class="guide__accordion-trigger-id" onclick="buildAndCopyRegex('{{ attack.title_id }}', '{{ enemy.title.de }}', 'attack')">ID: {{ attack.title_id }}</div>
        {%- endif -%}

        {%- assign isDebuff = "False" -%}
        {%- include _components/guide-attack-types.html -%}
        {%- if attack.damage -%}
            <div class="guide__accordion-trigger-id">DMG:
                {%- if attack.damage[0].min == attack.damage[1].max -%}
                    {{ attack.damage[0].min | intcomma: '.' }}
                {%- else -%}
                    {{ attack.damage[0].min | intcomma: '.' }}{%- if attack.damage[0].min && attack.damage[1].max -%} - {%- endif -%}{{ attack.damage[1].max | intcomma: '.' }}
                {%- endif -%}
            </div>
        {%- endif -%}
        <div>
    </h4>
</div>
<div class="guide__accordion-content--{%- if page.sequence -%}02{%- else -%}03{%- endif -%}
            {%- if attack.attack_in_use == 'false' -%}--ignore
            {%- elsif attack.dutyActions -%}--dutyAction
            {%- elsif attack.combo -%}--combo
            {%- elsif attack.variation -%}--variation
            {%- else -%}--attack
            {%- endif -%}" style="{%- if attack.disable == 'true' -%}display: none;{%- endif -%}">
    <div class="guide__accordion-copy-wrapper">
        <!-- Standard Attacks -->
        {%- if attack.combo -%}
            {%- if attack.notes -%}
                <h5 class="guide__attack-notes-title">Important Notes:</h5>
                <ul class="guide__attack-notes-list">
                    {%- for note in attack.notes -%}
                        <li class="guide__attack-notes-item">{{ note.note }}</li>
                    {%- endfor -%}
                </ul>
            {%- endif -%}
        {%- elsif attack.variation -%}
            {%- if attack.notes -%}
                <h5 class="guide__attack-notes-title">Important Notes:</h5>
                <ul class="guide__attack-notes-list">
                    {%- for note in attack.notes -%}
                        <li class="guide__attack-notes-item">{{ note.note }}</li>
                    {%- endfor -%}
                </ul>
            {%- endif -%}
        {%- else -%}
            {%- include _components/guide-attack-notes.html -%}
        {%- endif -%}
        <!-- Combo Attacks -->
        {%- for combo in attack.combo -%}
            {%- include _components/guide-combo-tags.html -%}
            {%- include _components/guide-attack-notes.html -%}
            <!-- Combo Images -->
            {%- if combo.images -%}
                <div class="guide__attack-image-list">
                    {%- for image in combo.images -%}
                        {%- include _components/guide-images.html -%}
                    {%- endfor -%}
                </div>
            {%- endif -%}
            <!-- Combo Videos -->
            {%- if combo.videos -%}
                <div class="guide__attack-video-list">
                    {%- for video in combo.videos -%}
                        {%- include _components/guide-videos.html -%}
                    {%- endfor -%}
                </div>
            {%- endif -%}
        {%- endfor -%}
        <!-- Variation Attacks -->
        {%- for variation in attack.variation -%}
            <div class="guide__variation-attack-seperator">
                {%- include _components/guide-variation-tags.html -%}
                {%- include _components/guide-attack-notes.html -%}
                <!-- Variation Images -->
                {%- if variation.images -%}
                    <div class="guide__attack-image-list">
                        {%- for image in variation.images -%}
                            {%- include _components/guide-images.html -%}
                        {%- endfor -%}
                    </div>
                {%- endif -%}
                <!-- Variation Videos -->
                {%- if variation.videos -%}
                    <div class="guide__attack-video-list">
                        {%- for video in variation.videos -%}
                            {%- include _components/guide-videos.html -%}
                        {%- endfor -%}
                    </div>
                {%- endif -%}
            </div>
        {%- endfor -%}
        <!-- Attack Images -->
        {%- if attack.images -%}
            <div class="guide__attack-image-list">
                {%- for image in attack.images -%}
                    {%- include _components/guide-images.html -%}
                {%- endfor -%}
            </div>
        {%- endif -%}
        <!-- Attack Videos -->
        {%- if attack.videos -%}
            <div class="guide__attack-video-list">
                {%- for video in attack.videos -%}
                    {%- include _components/guide-videos.html -%}
                {%- endfor -%}
            </div>
        {%- endif -%}
    </div>
</div>
