<!-- Event Skill Script -->
<div class="guide__script-wrapper">
    <div class="guide__accordion-trigger--04" id="{{ enemy.id | slugify }}-{{ phase.phase }}AttackScript">
        <i class="material-icons">expand_more</i>
        <h3 class="guide__accordion-trigger-title">Attack Script</h3>
    </div>
    <div class="guide__accordion-content--04">
        <hr/>
        <!-- Boss Attack Loop -->
        <ul class="guide__script-list">
            {% for attack in phase.attacks %}
                <li class="guide__script-attack {% if attack.dutyActions %}duty-action{% endif %}">{{ attack.attack }}</li>
                <!-- Checks to see if this is the last attack to prevent a final divider element. -->
                <!-- {% if forloop.last != true %}
                    <span class="guide__script-divider"><i class="material-icons">play_arrow</i></span>
                {% endif %} -->
            {% endfor %}
        </ul>
    </div>
</div>
