<!-- Include from _includes/_components/guide-attack-types -->
  <div class="Attributes guide__accordion-tag-wrapper">
    {%- if attack.combo -%}
        {%- for action in attack.dutyActions -%}
            <span class="guide__accordion-tag--duty-action" data-translate="AttackType_DutyAction">Duty Action</span>
        {%- endfor -%}
        <span class="guide__accordion-tag--combo" data-translate="AttackType_Combo">Combo</span>
    {%- elsif attack.variation -%}
        {%- for action in attack.dutyActions -%}
            <span class="guide__accordion-tag--duty-action" data-translate="AttackType_DutyAction">Duty Action</span>
        {%- endfor -%}
        <span class="guide__accordion-tag--variation" data-translate="AttackType_Variation">Variation</span>
    {%- else -%}
        {%- for role in attack.roles -%}
          <span class="guide__accordion-tag--role" data-translate="AttackType_{{role.role}}">{{ role.role }}</span>
        {%- endfor -%}
        {%- for action in attack.dutyActions -%}
          <span class="guide__accordion-tag--duty-action" data-translate="AttackType_DutyAction">Duty Action</span>
        {%- endfor -%}
        {%- for tag in attack.tags -%}
          <span class="guide__accordion-tag--attack" data-translate="AttackType_{{tag.tag}}">
            {%- if tag.icon -%}
              <img loading="lazy" class="tag-icon" title="{{tag.icon-title}}" src='{{ tag.icon }}'">
            {%- endif -%}
            {{ tag.tag }}
          </span>
        {%- endfor -%}
    {%- endif -%}
  </div>
<!-- END Include from _includes/_components/guide-attack-types -->
