<!-- Event Mechanics -->
<div class="guide__toolbox-wrapper">
    <div class="guide__accordion-trigger--04" id="{{ enemy.id | slugify }}-{{ phase.phase }}Toolbox">
        <i class="material-icons"><ion-icon size="large" name="chevron-down-outline" style="color: white !important"></ion-icon></i>
        <h3 class="guide__accordion-trigger-title">Toolbox</h3>
    </div>
    <div class="guide__accordion-content--04">
        <hr/>
        {% for toolbox in phase.toolbox %}
            <a class="guide__toolbox-title" target="_blank" href="{{ toolbox.link }}" alt="{{ toolbox.name }}">{{ toolbox.name }}</a>
            {% unless forloop.last %}
                <br/>
            {% endunless %}
        {% endfor %}
    </div>
</div>
