<!-- Include from _includes/_components/guide-combo-tags -->
<div class="guide__combo-tag-wrapper">
    {%- if attack.combo -%}
        <h5 class="guide__attack-notes-title">{{ combo.title.de }}</h5>
        {%- if combo.title_id -%}
            <div class="guide__accordion-trigger-id" onclick="buildAndCopyRegex('{{ combo.title_id }}', '{{ enemy.title.de }}', 'attack')">Skill-ID: {{ combo.title_id }}</div>
        {%- endif -%}
        {%- if combo.damage -%}
            <div class="guide__accordion-trigger-id">DMG:
                {%- if combo.damage[0].min == combo.damage[1].max -%}
                    {{ combo.damage[0].min | intcomma: '.' }}
                {%- else -%}
                    {{ combo.damage[0].min | intcomma: '.' }}{%- if combo.damage[0].min && combo.damage[1].max -%} - {%- endif -%}{{ combo.damage[1].max | intcomma: '.' }}
                {%- endif -%}
            </div>
        {%- endif -%}
        {%- if page.cms == "netlify-cms" -%}
          {%- for role in combo.roles -%}
            <span class="guide__combo-tag--role">{{ role }}</span>
          {%- endfor -%}
          {%- for action in combo.dutyActions -%}
            <span class="guide__combo-tag--duty-action">Duty Action</span>
          {%- endfor -%}
          {%- for tag in combo.tags -%}
            <span class="guide__combo-tag--attack">{{ tag }}</span>
          {%- endfor -%}
        {%- else -%}
          {%- for role in combo.roles -%}
            <span class="guide__combo-tag--role">{{ role.role }}</span>
          {%- endfor -%}
          {%- for action in combo.dutyActions -%}
            <span class="guide__combo-tag--duty-action">Duty Action</span>
          {%- endfor -%}
          {%- for tag in combo.tags -%}
            <span class="guide__combo-tag--attack">{{ tag.tag }}</span>
          {%- endfor -%}
        {%- endif -%}
    {%- endif -%}
</div>
<!-- END Include from _includes/_components/guide-combo-tags -->
