<!-- Include from _includes/_components/image_overlay -->
<div style="display: none" class="fullscreen-overlay" id="fullscreenOverlay" onclick="closeFullscreen()">
    <img
        id="fullscreenImg"
        src=""
        alt="Fullscreen View"
        style="
            display: block;
            margin: auto;
            max-width: calc(100vw - 2rem);
            max-height: calc(100vh - 2rem);
            width: auto;
            height: auto;
            object-fit: contain;
            object-position: center;
        ">
</div>
<!-- END Include from _includes/_components/image_overlay -->
