<!-- Include from _includes/_components/index-list -->
{%- for guide in sorted reversed -%}
    {%- if page.page_category == "all" -%}
        {%- if guide.instanceType != "overworlds" -%}
            {%- assign counter = counter | plus: 1 -%}
            {%- include summary.html -%}
        {%- endif -%}

    {%- elsif page.page_category == "dungeons" -%}
        {%- if guide.instanceType == "dungeon" or guide.instance_type == "Dungeon" -%}
            {%- assign counter = counter | plus: 1 -%}
            {%- include summary.html -%}
        {%- endif -%}
    {%- elsif page.page_category == "trials" -%}
        {%- if guide.instanceType == "trial" or guide.instance_type == "Trial" -%}
            {%- assign counter = counter | plus: 1 -%}
            {%- include summary.html -%}
        {%- endif -%}
    {%- elsif page.page_category == "gewölbesuche" -%}
        {%- if guide.instanceType == "gewölbesuche" or guide.instance_type == "Gewölbesuche" -%}
            {%- assign counter = counter | plus: 1 -%}
            {%- include summary.html -%}
        {%- endif -%}
    {%- elsif page.page_category == "allianzraid" -%}
        {%- if guide.instanceType == "allianzraid" or guide.instance_type == "AllianzRaid" -%}
            {%- assign counter = counter | plus: 1 -%}
            {%- include summary.html -%}
        {%- endif -%}
    {%- elsif page.page_category == "chaosallianzraid" -%}
        {%- if guide.instanceType == "chaosallianzraid" or guide.instance_type == "ChaosAllianzRaid" -%}
            {%- assign counter = counter | plus: 1 -%}
            {%- include summary.html -%}
        {%- endif -%}
    {%- elsif page.page_category == "raids" -%}
        {%- if guide.instanceType == "raid" or guide.instance_type == "Raid" -%}
            {%- assign counter = counter | plus: 1 -%}
            {%- include summary.html -%}
        {%- endif -%}
    {%- elsif page.page_category == "ultimates" -%}
        {%- if guide.instanceType == "ultimate" or guide.instance_type == "Ultimate" -%}
            {%- assign counter = counter | plus: 1 -%}
            {%- include summary.html -%}
        {%- endif -%}
    {%- elsif page.page_category == "potd" -%}
        {%- if guide.instanceType == "potd" or guide.instance_type == "potd" -%}
            {%- assign counter = counter | plus: 1 -%}
            {%- include summary.html -%}
        {%- endif -%}
    {%- elsif page.page_category == "pvp" -%}
        {%- if guide.instanceType == "pvp" or guide.instance_type == "pvp" -%}
            {%- assign counter = counter | plus: 1 -%}
            {%- include summary.html -%}
        {%- endif -%}
    {%- elsif page.page_category == "feldexkursion" -%}
        {%- if guide.instanceType == "feldexkursion" or guide.instance_type == "feldexkursion" -%}
            {%- assign counter = counter | plus: 1 -%}
            {%- include summary.html -%}
        {%- endif -%}
    {%- elsif page.page_category == "guildhest" -%}
        {%- if guide.instanceType == "guildhest" or guide.instance_type == "guildhest" -%}
            {%- assign counter = counter | plus: 1 -%}
            {%- include summary.html -%}
        {%- endif -%}
    {%- elsif page.page_category == "treasure" -%}
        {%- if guide.instanceType == "treasure" or guide.instance_type == "treasure" -%}
            {%- assign counter = counter | plus: 1 -%}
            {%- include summary.html -%}
        {%- endif -%}
    {%- elsif page.page_category == "bluemage" -%}
        {%- if guide.instanceType == "bluemage" or guide.instance_type == "bluemage" -%}
            {%- assign counter = counter | plus: 1 -%}
            {%- include summary.html -%}
        {%- endif -%}
    {%- elsif page.page_category == "training" -%}
        {%- if guide.instanceType == "training" or guide.instance_type == "training" -%}
            {%- assign counter = counter | plus: 1 -%}
            {%- include summary.html -%}
        {%- endif -%}
    {%- elsif page.page_category == "overworld" -%}
        {%- if guide.instanceType == "overworld" or guide.instance_type == "overworld" -%}
            {%- assign counter = counter | plus: 1 -%}
            {%- include summary.html -%}
        {%- endif -%}
    {%- elsif page.page_category == "overworlds" -%}
        {%- if guide.instanceType == "overworlds" or guide.instance_type == "overworlds" -%}
            {%- assign counter = counter | plus: 1 -%}
            {%- include summary.html -%}
        {%- endif -%}
    {%- endif -%}
{%- endfor -%}
<!-- END Include from _includes/_components/index-list -->
