<!-- Include from _includes/helper/returnPropperName -->
{%- if include.instanceType == "allianzraid" -%}   Allianzraid    {%- endif -%}
{%- if include.instanceType == "bluemage" -%}      Bluemage       {%- endif -%}
{%- if include.instanceType == "dungeon" -%}       Dungeon        {%- endif -%}
{%- if include.instanceType == "feldexkursion" -%} Feldexkursion  {%- endif -%}
{%- if include.instanceType == "guildhest" -%}     Gildengeheiß   {%- endif -%}
{%- if include.instanceType == "potd" -%}          Deep Dungeon   {%- endif -%}
{%- if include.instanceType == "pvp" -%}           PvP            {%- endif -%}
{%- if include.instanceType == "raid" -%}          Raid           {%- endif -%}
{%- if include.instanceType == "ultimate" -%}      Ultimate       {%- endif -%}
{%- if include.instanceType == "treasure" -%}      Schatzdungeon  {%- endif -%}
{%- if include.instanceType == "gewölbesuche" -%}  Gewölbesuche   {%- endif -%}
{%- if include.instanceType == "trial" -%}         Prüfung        {%- endif -%}
{%- if include.instanceType == "translate" -%}     Übersetzungen  {%- endif -%}
{%- if include.instanceType == "gear" -%}          Ausrüstung     {%- endif -%}
{%- if include.instanceType == "dalamud" -%}       Dalamud        {%- endif -%}
<!-- END Include from _includes/helper/returnPropperName -->
