<!-- Include from _includes/treasuremap/guide_enemy_sequence -->
<!-- Opens the Sequence Loop -->


<div class="guide__accordion-trigger--03--grid" id="{{ enemy.id | slugify }}-{{ zone.zonename }}">
    <i class="Dropdown material-icons"><ion-icon size="large" name="chevron-down-outline" style="color: white !important"></ion-icon></i>
    <div class="Names klassen">
        <h3 class="guide__accordion-trigger-title" data-translate="Content_Section_{{ phase.name }}">{{ zone.zonename }}</h3>
    </div>
</div>
<div class="guide__accordion-content--03">
    {%- if zone.fullimage -%}
        <div class="guide__attack-image-item">
            <img loading="lazy" style="object-fit: scale-down; height: 400px" src="{{zone.fullimage}}" alt="{{ zone.fullimage }}"/>
        </div>
    {%- endif -%}
    {%- if zone.subimage -%}
        <div style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 10px;">
        {%- for image in zone.subimage -%}
            <div class="guide__attack-image-item">
                <img loading="lazy" style="object-fit: scale-down; height: 200px" src="{{image}}" alt="{{ image }}"/>
            </div>
        {%- endfor -%}
        </div>
    {%- endif -%}
</div>
<!-- END Include from _includes/treasuremap/guide_enemy_sequence -->
