.sprite-podt-paladin{
  background: url('/assets/img/deepdungeonclassjob_hr1.tex.png');
  height: 88px;
  width: 74px;
  background-position: 0px 0px;
  background-size: 296px 528px;
}
.sprite-podt-mönch{
  background: url('/assets/img/deepdungeonclassjob_hr1.tex.png');
  height: 88px;
  width: 74px;
  background-position: -74px 0px;
  background-size: 296px 528px;
}
.sprite-podt-krieger{
  background: url('/assets/img/deepdungeonclassjob_hr1.tex.png');
  height: 88px;
  width: 74px;
  background-position: -148px 0px;
  background-size: 296px 528px;
}
.sprite-podt-dragoon{
  background: url('/assets/img/deepdungeonclassjob_hr1.tex.png');
  height: 88px;
  width: 74px;
  background-position: -222px 0px;
  background-size: 296px 528px;
}
.sprite-podt-barde{
  background: url('/assets/img/deepdungeonclassjob_hr1.tex.png');
  height: 88px;
  width: 74px;
  background-position: -74px -88px;
  background-size: 296px 528px;
}
.sprite-podt-weißmagier{
  background: url('/assets/img/deepdungeonclassjob_hr1.tex.png');
  height: 88px;
  width: 74px;
  background-position: -148px -88px;
  background-size: 296px 528px;
}
.sprite-podt-schwarzmagier{
  background: url('/assets/img/deepdungeonclassjob_hr1.tex.png');
  height: 88px;
  width: 74px;
  background-position: -222px -88px;
  background-size: 296px 528px;
}

.sprite-podt-beschwörer{
  background: url('/assets/img/deepdungeonclassjob_hr1.tex.png');
  height: 88px;
  width: 74px;
  background-position: -74px -176px;
  background-size: 296px 528px;
}
.sprite-podt-gelehrter{
  background: url('/assets/img/deepdungeonclassjob_hr1.tex.png');
  height: 88px;
  width: 74px;
  background-position: -148px -176px;
  background-size: 296px 528px;
}
.sprite-podt-ninja{
  background: url('/assets/img/deepdungeonclassjob_hr1.tex.png');
  height: 88px;
  width: 74px;
  background-position: -222px -176px;
  background-size: 296px 528px;
}
.sprite-podt-maschinist{
  background: url('/assets/img/deepdungeonclassjob_hr1.tex.png');
  height: 88px;
  width: 74px;
  background-position: 0px -264px;
  background-size: 296px 528px;
}
.sprite-podt-dunkelritter{
  background: url('/assets/img/deepdungeonclassjob_hr1.tex.png');
  height: 88px;
  width: 74px;
  background-position: -74px -264px;
  background-size: 296px 528px;
}
.sprite-podt-astrologe{
  background: url('/assets/img/deepdungeonclassjob_hr1.tex.png');
  height: 88px;
  width: 74px;
  background-position: -148px -264px;
  background-size: 296px 528px;
}
.sprite-podt-samurai{
  background: url('/assets/img/deepdungeonclassjob_hr1.tex.png');
  height: 88px;
  width: 74px;
  background-position: -222px -264px;
  background-size: 296px 528px;
}
.sprite-podt-rotmagier{
  background: url('/assets/img/deepdungeonclassjob_hr1.tex.png');
  height: 88px;
  width: 74px;
  background-position: 0px -352px;
  background-size: 296px 528px;
}
.sprite-podt-blaumagier{
  background: url('/assets/img/deepdungeonclassjob_hr1.tex.png');
  height: 88px;
  width: 74px;
  background-position: -74px -352px;
  background-size: 296px 528px;
}
.sprite-podt-revolverklinge{
  background: url('/assets/img/deepdungeonclassjob_hr1.tex.png');
  height: 88px;
  width: 74px;
  background-position: -148px -352px;
  background-size: 296px 528px;
}
.sprite-podt-tänzer{
  background: url('/assets/img/deepdungeonclassjob_hr1.tex.png');
  height: 88px;
  width: 74px;
  background-position: -222px -352px;
  background-size: 296px 528px;
}
.sprite-podt-schnitter{
  background: url('/assets/img/deepdungeonclassjob_hr1.tex.png');
  height: 88px;
  width: 74px;
  background-position: 0px -440px;
  background-size: 296px 528px;
}
.sprite-podt-weiser{
  background: url('/assets/img/deepdungeonclassjob_hr1.tex.png');
  height: 88px;
  width: 74px;
  background-position: -47px 440px;
  background-size: 296px 528px;
}
