.sprite-sheet {
  //this was inlines to avoide issues with local and online
  background: attr(data-image url);
  //background: url('/assets/img/deepdungeonclassjob_hr1.tex.png');
}

.sprite-podt-common{
  height: 88px;
  width: 74px;
  background-size: 296px 616px; // 3x sprite width + height
}

.sprite-podt-paladin{
  background-position: 0px 0px;
}
.sprite-podt-mönch{
  background-position: -74px 0px;
}
.sprite-podt-krieger{
  background-position: -148px 0px;
}
.sprite-podt-dragoon{
  background-position: -222px 0px;
}
.sprite-podt-barde{
  background-position: -74px -88px;
}
.sprite-podt-weißmagier{
  background-position: -148px -88px;
}
.sprite-podt-schwarzmagier{
  background-position: -222px -88px;
}
.sprite-podt-beschwörer{
  background-position: -74px -176px;
}
.sprite-podt-gelehrter{
  background-position: -148px -176px;
}
.sprite-podt-ninja{
  background-position: -222px -176px;
}
.sprite-podt-maschinist{
  background-position: 0px -264px;
}
.sprite-podt-dunkelritter{
  background-position: -74px -264px;
}
.sprite-podt-astrologe{
  background-position: -148px -264px;
}
.sprite-podt-samurai{
  background-position: -222px -264px;
}
.sprite-podt-rotmagier{
  background-position: 0px -352px;
}
.sprite-podt-blaumagier{
  background-position: -74px -352px;
}
.sprite-podt-revolverklinge{
  background-position: -148px -352px;
}
.sprite-podt-tänzer{
  background-position: -222px -352px;
}
.sprite-podt-schnitter{
  background-position: 0px -440px;
}
.sprite-podt-weiser{
  background-position: -74px -440px;
}
.sprite-podt-viper{
  background-position: -148px -440px;
}
.sprite-podt-piktomant{
  background-position: -222px -440px;
}
.sprite-podt-bestienkrieger{
  background-position: -444px -0px;
}

.mkdsprite-sheet {
  background: attr(data-image url);
}

.sprite-phantom-common {
  height: 58px;
  width: 40px;
  background-size: 400px 348px;
}

.sprite-phantom-freiberufler { background-position: 0 0; }
.sprite-phantom-ritter { background-position: -40px 0; }
.sprite-phantom-berserker { background-position: -80px 0; }
.sprite-phantom-mönch { background-position: -120px 0; }
.sprite-phantom-jäger { background-position: -160px 0; }
.sprite-phantom-samurai { background-position: -200px 0; }
.sprite-phantom-barde { background-position: -240px 0; }
.sprite-phantom-geomant { background-position: -280px 0; }
.sprite-phantom-zeitmagier { background-position: -320px 0; }
.sprite-phantom-grenadier { background-position: -360px 0; }
.sprite-phantom-alchemist { background-position: 0 -58px; }
.sprite-phantom-seher { background-position: -40px -58px; }
.sprite-phantom-dieb { background-position: -80px -58px; }
.sprite-phantom-paladin { background-position: -120px -58px; }
.sprite-phantom-gladiator { background-position: -160px -58px; }
.sprite-phantom-tänzer { background-position: -200px -58px; }
.sprite-phantom-ninja { background-position: -240px -58px; }
.sprite-phantom-weißmagier { background-position: -280px -58px; }
.sprite-phantom-schwarzmagier { background-position: -320px -58px; }
.sprite-phantom-dragoon { background-position: -360px -58px; }
.sprite-phantom-beschwörer { background-position: 0 -116px; }
.sprite-phantom-blaumagier { background-position: -40px -116px; }
.sprite-phantom-rotmagier { background-position: -80px -116px; }
.sprite-phantom-nekromant { background-position: -120px -116px; }

.pxsprite-sheet {
  background: attr(data-image url);
}

.sprite-pixel-common {
  height: 64px;
  width: 64px;
  background-size: 256px 192px;
}


.sprite-pixel-zimmerer {
  background-position: 0px 0px;
}
.sprite-pixel-grobschmied {
  background-position: -64px 0px;
}
.sprite-pixel-plattner {
  background-position: -128px 0px;
}
.sprite-pixel-goldschmied {
  background-position: -192px 0px;
}

.sprite-pixel-gerber {
  background-position: 0px -64px;
}
.sprite-pixel-weber {
  background-position: -64px -64px;
}
.sprite-pixel-alchemist {
  background-position: -128px -64px;
}
.sprite-pixel-gourmet {
  background-position: -192px -64px;
}

.sprite-pixel-fischer {
  background-position: -128px -128px;
}
.sprite-pixel-gärtner {
  background-position: -64px -128px;
}
.sprite-pixel-minenarbeiter {
  background-position: 0px -128px;
}
