// =============================================================================

    // Search Styles

// =============================================================================

.search {
    padding: 0;

    @media #{$navigation} {
        padding: 0 calc(#{$unit} * 3);
    }

    @media screen and (orientation: landscape) and (min-width: 70em) {
        padding: 0 calc(#{$unit} * 5);
    }

}

.search__form {
    padding: calc(#{$unit} * 2.5) calc(#{$unit} * 1.5) 0;

    @media #{$l-tablet} {
        padding: calc(#{$unit} * 2.5) 0 0;
    }

    label {
        color: $palette--white;
        display: block;
        font-family: $font-aktiv;
        font-size: $font-scale--small;
        font-weight: 400;
        margin: 0 0 calc(#{$unit} / 2) 0;
        width: 100%;
    }

    input {
        border: 1px solid $palette--black;
        border-radius: 20px;
        color: $font-black;
        display: block;
        font-family: $font-aktiv;
        font-size: $font-scale--regular;
        font-weight: 400;
        line-height: 1.5;
        outline: none;
        padding: $unit;
        transition: all .2s ease;
        width: 100%;

        &:focus {
            border: 1px solid $palette--red;
            transition: all .2s ease;
        }

    }

}

.search__form_blu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 calc(#{$unit} * 1) calc(#{$unit} * 1) 0;

    label {
        color: $palette--black;
        display: block;
        font-family: $font-aktiv;
        font-size: $font-scale--small;
        font-weight: 400;
        margin: 0 0 calc(#{$unit} / 2) 0;
        width: 100%;
    }

    input[type=text] {
        border: 1px solid $palette--black;
        border-radius: 3px;
        color: $font-black;
        display: block;
        font-family: $font-aktiv;
        font-size: $font-scale--regular;
        font-weight: 400;
        line-height: 1.5;
        outline: none;
        padding: $unit;
        transition: all .2s ease;
        min-width: calc(100% - 40px);
        width: calc(100% - 40px);

        &:focus {
            border: 1px solid $palette--red;
            transition: all .2s ease;
        }

    }

    input[type=checkbox] {
        height: 40px;
        width: 40px;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
        border: 1px solid #34495E;
        border-radius: 4px;
        outline: none;
        transition-duration: 0.3s;
        background-color: #555555;
        cursor: pointer;
        &:checked {
            border: 1px solid #151515;
            background-color: #009148;
        }
    }

}
