<!DOCTYPE html>
<html lang="en">
    {%- assign LANGUAGES = "en,de,fr,ja,cn,ko" | split: ',' -%}
    <head>
        <!-- Include from _includes/head -->
        {% include head.html %}
        <!-- Include from _includes/head -->
    </head>
    <!-- ORIGIN: _layout/about -->
    <body class="{{ page.page_type }} {{ page.page_category }}">
        <div class="layout">
            <!-- Include from _includes/navbar -->
            {% include navbar.html %}
            <!-- END Include from _includes/navbar -->

            <div class="layout__wrapper">
                <!-- Include from _includes/header -->
                {% include header.html %}
                <!-- END Include from _includes/header -->

                <!-- Content -->
                <div class="about__wrapper">
                    <!-- Welcome Area -->
                    <div class="about__intro">
                        <h2 class="heading--02" data-translate="About_Text_Welcome">Welcome</h2>
                        <p>Welcome to the fork of FFXIV Pocket Guide, an ongoing project created by
                            <a href="https://joshbeveridge.ca" title="Check out Josh's portfolio." target="_blank" rel="noreferrer">Josh Beveridge</a>to support the FFXIV community by enabling a space where guide content can be consumed in a mobile-friendly, ad-free environment.
                        </p>
                        <p>The guide is supported by volunteers and players just like yourself:</p>
                        <ul>
                            {% for i in site.data.contributors %}
                                <li>
                                    <a href="{{ i.link }}" title="Check out this contributor!" target="_blank" rel="noreferrer">{{ i.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- END Welcome Area -->

                    <!-- Announcements Area -->
                    <div class="about__announcements">
                        <h2 class="heading--02" data-translate="About_Text_Announcement">Announcements</h2>
                        <ul class="announcement__list">
                            {% for i in site.data.announcements %}
                                {% if i.pinned == true %}
                                    <li>📌
                                        <strong>{{ i.date }}</strong>:
                                        <br/>
                                        {{ i.content }}
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% for i in site.data.announcements %}
                                {% if i.pinned == false %}
                                    <li>
                                        <strong>{{ i.date }}</strong>:
                                        <br/>
                                        {{ i.content }}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- END Announcements Area -->

                    <!-- Roadmap Area -->
                    <div class="about__roadmap">
                        <h2 class="heading--02" style="margin-top: 3rem; margin-bottom: 1rem;" data-translate="About_Text_Roadmap">Roadmap</h2>
                        <div class="roadmap__wrapper">
                            {% for i in site.data.roadmap %}
                                {% if i.pinned == true %}
                                    <div class="roadmap__object">
                                        <h3 class="heading--03">
                                            <span>📌</span>
                                            <a href="{{ i.link }}" target="_blank" rel="noreferrer" title="Check out the related issue on Github.">{{ i.name }}</a>
                                        </h3>
                                        <p>{{ i.summary }}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% for i in site.data.roadmap %}
                                {% if i.pinned == false %}
                                    <div class="roadmap__object">
                                        <h3 class="heading--03">
                                            <span>{{ i.icon }}</span>
                                            <a href="{{ i.link }}" target="_blank" rel="noreferrer" title="Check out the related issue on Github.">{{ i.name }}</a>
                                        </h3>
                                        <p>{{ i.summary }}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <!-- END Roadmap Area -->
                </div>
                <!-- END Content -->

                <!-- Include from _includes/footer -->
                {% include_cached footer.html %}
                <!-- END Include from _includes/footer -->
            </div>
        </div>
        <div style="display: none" data-extra-translate="/assets/translations/about"></div>
        <!-- Include from _includes/scripts -->
        {% include_cached scripts.html %}
        <!-- END Include from _includes/scripts -->
    </body>
    <script type="text/javascript">executeHandelingLanguages()</script>
</html>
