<!DOCTYPE html>
<html lang="en">
    {%- assign LANGUAGES = "en,de,fr,ja,cn,ko" | split: ',' -%}
    <head>
        {% include head.html %}
    </head>
    <!-- ORIGIN: _layout/quests -->
    <body class="{{ page.page_type }} {{ page.page_category }}">
        <div class="layout">
            {% include navbar.html %}
            <div class="layout__wrapper">
                {% include header.html %}
                {% if page.page_type == "index" %}
                    <!-- Search Bar -->
                    <div class="search">
                        <form class="search__form">
                            <label for="guideFilter" data-translate="Searchbar_Example_Text">Nach einem Guide suchen...</label>
                            <input id="guideFilter" placeholder="Windäther, Elpis, Raid, Aglaia, etc..." type="text"/>
                        </form>
                    </div>
                    <!-- END Search Bar -->
                {% endif %}
                {% include single_pages/dalamud.html %}
                {% include_cached footer.html %}
            </div>
        </div>
        {% include_cached scripts.html %}
    </body>
    <!-- END ORIGIN: _layout/quests -->
    <script type="text/javascript">executeHandelingLanguages()</script>
</html>
