<!DOCTYPE html>
<html lang="en">
    {%- assign LANGUAGES = "en,de,fr,ja,cn,ko" | split: ',' -%}
    <head>
        <!-- Include from _includes/head -->
        {% include head.html %}
        <!-- Include from _includes/head -->
    </head>
    <!-- ORIGIN: _layout/klassen -->
    <body class="{{ page.page_type }} {{ page.page_category }}">
        <div class="layout">
            <!-- Include from _includes/navbar -->
            {% include navbar.html %}
            <!-- END Include from _includes/navbar -->
            <div class="layout__wrapper">
                <!-- Include from _includes/header -->
                {% include header.html %}
                <!-- END Include from _includes/header -->

                <!-- Include from _includes/klassen/guide-layout -->
                {% include klassen/guide-layout.html %}
                <!-- END Include from _includes/klassen/guide-layout -->

                <!-- Include from _includes/footer -->
                {% include_cached footer.html %}
                <!-- END Include from _includes/footer -->
            </div>
        </div>
        <div style="display: none" data-extra-translate="/assets/translations/klassen"></div>
        <!-- Include from _includes/scripts -->
        {% include_cached scripts.html %}
        <!-- END Include from _includes/scripts -->
    </body>
    <script type="text/javascript">executeHandelingLanguages()</script>
</html>
