<!DOCTYPE html>
<html lang="en">
    {%- assign LANGUAGES = "en,de,fr,ja,cn,ko" | split: ',' -%}
    <head>
        {% include head.html %}
    </head>
    <!-- ORIGIN: _layout/links -->
    <body class="{{ page.page_type }} {{ page.page_category }}">
        <div class="layout">
            {% include navbar.html %}
            <div class="layout__wrapper">
                {% include header.html %}
                <!-- Search Bar -->
                {% if page.page_type == "index" %}
                    {% include presets/search.html searchPrefill="links" %}
                {% endif %}
                {% include single_pages/links.html %}
                {% include_cached footer.html %}
            </div>
        </div>
        <div style="display: none" data-extra-translate="/assets/translations/links"></div>
        {% include_cached scripts.html %}
    </body>
    <!-- END ORIGIN: _layout/links -->
    <script type="text/javascript">executeHandelingLanguages()</script>
</html>
