<!DOCTYPE html>
<html lang="en">
    {%- assign LANGUAGES = "en,de,fr,ja,cn,ko" | split: ',' -%}
    <head>
        {% include head.html %}
        <link rel="stylesheet" href="{{ '/css/dalamud-links.css' | relative_url }}">
    </head>
    <body class="xiv {{ page.page_type }} {{ page.page_category }}">
        <div class="layout">
            {% include navbar.html %}
            <div class="layout__wrapper">
                {% include header.html %}
                {% include single_pages/links.html %}
                {% include_cached footer.html %}
            </div>
        </div>
        <div style="display:none" data-extra-translate="/assets/translations/links"></div>
        {% include_cached scripts.html %}
        <script src="{{ '/assets/js/resource-browser.js' | relative_url }}"></script>
    </body>
    <script type="text/javascript">executeHandelingLanguages()</script>
</html>
